<p-toast />

<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Chuyển hàng</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right"></ng-template>
        </p-toolbar>
        <div class="grid">
            <div class="col-8">
                <div class="card" style="min-height: 525px">
                    <p-table
                        #dt
                        [value]="displayedProducts"
                        responsiveLayout="scroll"
                        [rowHover]="true"
                        dataKey="id"
                    >

                        <ng-template pTemplate="caption">
                            <div
                                class="flex flex-column gap-3 align-items-end md:flex-row md:"
                            >
                                <div class="grid p-fluid" style="width: 100%">
                                    <div class="col-12 md:col-11">
                                        <span
                                            class="col-md-11 block mt-2 md:mt-0 p-input-icon-left box-search"
                                        >
                                            <i class="pi pi-search"></i>
                                            <input
                                                class="disabled-calendar"
                                                pInputText
                                                type="text"
                                                placeholder="Tìm kiếm sản phẩm theo tên,mã"
                                                style="width: 100%"
                                                (input)="
                                                    onProductSearch($event)
                                                "
                                                (focus)="showProductList()"
                                                #searchInput
                                            />
                                            <div
                                                class="product__list"
                                                *ngIf="showProducts"
                                            >
                                                <div
                                                    *ngFor="
                                                        let item of filteredDatas
                                                    "
                                                    class="product__item"
                                                    (click)="
                                                        addToCart(item, $event)
                                                    "
                                                >
                                                    <div
                                                        class="product__item-left"
                                                    >
                                                        <img
                                                            *ngIf="
                                                                item.productImage
                                                            "
                                                            [src]="
                                                                imageUrl +
                                                                item.productImage
                                                            "
                                                            alt="Product Image"
                                                        />
                                                        <svg
                                                            *ngIf="
                                                                !item.productImage
                                                            "
                                                            viewBox="0 0 24 24"
                                                            fill="none"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            class="jss3869 ng-star-inserted"
                                                            style="
                                                                color: rgb(
                                                                    232,
                                                                    234,
                                                                    235
                                                                );
                                                                height: 50px;
                                                            "
                                                        >
                                                            <path
                                                                _ngcontent-ng-c1628733639=""
                                                                d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2ZM5 19V5h14l.002 14H5Z"
                                                                fill="currentColor"
                                                            ></path>
                                                            <path
                                                                _ngcontent-ng-c1628733639=""
                                                                d="m10 14-1-1-3 4h12l-5-7-3 4ZM8.5 11a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                                                fill="currentColor"
                                                            ></path>
                                                        </svg>
                                                    </div>
                                                    <div
                                                        class="product__item-center"
                                                    >
                                                        <h1
                                                            class="product-name"
                                                        >
                                                            {{
                                                                item.productName
                                                            }}
                                                        </h1>
                                                        <span
                                                            class="product-code"
                                                        >
                                                            <!-- {{
                                                                item.serialNumbers.join(
                                                                    ", "
                                                                )
                                                            }} -->
                                                        </span>
                                                    </div>
                                                    <div
                                                        class="product__item-right"
                                                    >
                                                        <span
                                                            class="product-price"
                                                        >
                                                            {{
                                                                item.price
                                                                    | currency
                                                                        : "VND"
                                                                        : "symbol"
                                                            }}
                                                        </span>
                                                        <span
                                                            class="product-inventory"
                                                        >
                                                            Có thể bán:
                                                            <strong>{{
                                                                item.mass
                                                            }}</strong>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- [(ngModel)]="this.optionsFillerProduct.KeyWord" -->
                                        </span>
                                    </div>
                                    
                                    <div class="col-12 md:col-1 disabled-calendar">
                                        <div
                                            class="col-md-1"
                                            (click)="onBarcodeClick()"
                                        >
                                            <svg
                                                [ngStyle]="{
                                                    'border-radius': '4px',
                                                    'background-color':
                                                        activeBarcode
                                                            ? '#2a2986'
                                                            : 'transparent'
                                                }"
                                                class="block p-2"
                                                _ngcontent-ng-c955548431=""
                                                stroke-width="0"
                                                viewBox="0 0 256 256"
                                                height="42px"
                                                width="42px"
                                                xmlns="http://www.w3.org/2000/svg"
                                                [attr.stroke]="
                                                    activeBarcode
                                                        ? '#fff'
                                                        : '#cccbcc'
                                                "
                                                [attr.fill]="
                                                    activeBarcode
                                                        ? '#fff'
                                                        : '#cccbcc'
                                                "
                                            >
                                                <path
                                                    _ngcontent-ng-c955548431=""
                                                    d="M232,48V88a8,8,0,0,1-16,0V56H184a8,8,0,0,1,0-16h40A8,8,0,0,1,232,48ZM72,200H40V168a8,8,0,0,0-16,0v40a8,8,0,0,0,8,8H72a8,8,0,0,0,0-16Zm152-40a8,8,0,0,0-8,8v32H184a8,8,0,0,0,0,16h40a8,8,0,0,0,8-8V168A8,8,0,0,0,224,160ZM32,96a8,8,0,0,0,8-8V56H72a8,8,0,0,0,0-16H32a8,8,0,0,0-8,8V88A8,8,0,0,0,32,96ZM80,80a8,8,0,0,0-8,8v80a8,8,0,0,0,16,0V88A8,8,0,0,0,80,80Zm104,88V88a8,8,0,0,0-16,0v80a8,8,0,0,0,16,0ZM144,80a8,8,0,0,0-8,8v80a8,8,0,0,0,16,0V88A8,8,0,0,0,144,80Zm-32,0a8,8,0,0,0-8,8v80a8,8,0,0,0,16,0V88A8,8,0,0,0,112,80Z"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 8.2%">Ảnh</th>
                                <th style="width: 20%">Tên sản phẩm</th>
                                <!-- <th style="text-align: center">Giá chuyển</th> -->
                                <th style="width: 9%; text-align: center">ĐVT</th>
                                <th style="width: 10.5%; text-align: center">SL chuyển</th>
                                <th style="width: 10.5%; text-align: center">SL nhận</th>
                                <th style="width: 12.5%; text-align: center">Thành tiền</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-data let-i="rowIndex">
                            <tr style="height: 105px">
                                <td style="width: 8%">
                                    <img
                                        *ngIf="data.productImage && (!data.productVariantId || !data.productVariantName)"
                                        [src]="imageUrl + data.productImage"
                                        alt="Product Image"
                                        style="
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 4px;
                                        "
                                    />

                                    <img
                                        *ngIf="data.productVariantImage && (data.productVariantId && data.productVariantName)"
                                        [src]="imageUrl + data.productVariantImage"
                                        alt="Product Image"
                                        style="
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 4px;
                                        "
                                    />

                                    <svg
                                        *ngIf="!data.productImage && (!data.productVariantId || !data.productVariantName)"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="jss3869 ng-star-inserted"
                                        style="
                                            color: rgb(232, 234, 235);
                                            height: 50px;
                                        "
                                    >
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2ZM5 19V5h14l.002 14H5Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="m10 14-1-1-3 4h12l-5-7-3 4ZM8.5 11a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>

                                    <svg
                                        *ngIf="!data.productVariantImage && (data.productVariantId && data.productVariantName)"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="jss3869 ng-star-inserted"
                                        style="
                                            color: rgb(232, 234, 235);
                                            height: 50px;
                                        "
                                    >
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2ZM5 19V5h14l.002 14H5Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="m10 14-1-1-3 4h12l-5-7-3 4ZM8.5 11a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>
                                </td>
                                <td style="width: 20%">
                                    <span style="font-weight: 600;">{{ data.productName }}</span>
                                    <span *ngIf="data.productVariantId && data.productVariantName"> - {{ data.productVariantName }}</span>
                                </td>
                                <!-- <td style="width: 12.5%; text-align: center">
                                    {{ data.productPrice?.toLocaleString(
                                        "vi-VN",
                                        {
                                            style: "currency",
                                            currency: "VND"
                                        }
                                    ) }}
                                </td> -->
                                <td style="width: 9%; text-align: center">
                                    {{ data.unitName }}
                                </td>
                                <td style="width: 10.5%; text-align: center">
                                    {{ data.quantity }}
                                </td>
                                <td style="width: 10.5%; text-align: center">
                                    {{ data.quantity }}
                                </td>
                                <td style="width: 12.5%; text-align: center">
                                    <span *ngIf="!data.productVariantId || !data.productVariantName">{{ (data.totalAmountProduct || 0) | currency:'VND' }}</span>
                                    <span *ngIf="data.productVariantId && data.productVariantName">{{ (data.totalAmountVariant || 0) | currency:'VND' }}</span>                                    
                                </td>
                              
                            </tr>
                            <tr *ngIf="data.frameEngineNumbers?.length > 0">
                                <td colspan="6">
                                    <div class="flex flex-column">
                                        <div style="display: flex; flex-wrap: wrap;">
                                            <div style="display: flex;" *ngFor="let frameEngine of data.frameEngineNumbers">
                                                 <div style="margin: 5px 0;" class="variant-item">
                                                     <span class="variant-item-label"> {{ frameEngine }}</span>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p-table
                        #dt
                        [value]="displayedProducts2"
                        responsiveLayout="scroll"
                        [rowHover]="true"
                        dataKey="id"
                    >

                        <ng-template pTemplate="body" let-data let-i="rowIndex">
                            <tr style="height: 105px">
                                <td style="width: 8%">
                                    <img
                                        *ngIf="data.productImage && (!data.productVariantId || !data.productVariantName)"
                                        [src]="imageUrl + data.productImage"
                                        alt="Product Image"
                                        style="
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 4px;
                                        "
                                    />

                                    <img
                                        *ngIf="data.productVariantImage && (data.productVariantId && data.productVariantName)"
                                        [src]="imageUrl + data.productVariantImage"
                                        alt="Product Image"
                                        style="
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 4px;
                                        "
                                    />

                                    <svg
                                        *ngIf="!data.productImage && (!data.productVariantId || !data.productVariantName)"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="jss3869 ng-star-inserted"
                                        style="
                                            color: rgb(232, 234, 235);
                                            height: 50px;
                                        "
                                    >
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2ZM5 19V5h14l.002 14H5Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="m10 14-1-1-3 4h12l-5-7-3 4ZM8.5 11a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>

                                    <svg
                                        *ngIf="!data.productVariantImage && (data.productVariantId && data.productVariantName)"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="jss3869 ng-star-inserted"
                                        style="
                                            color: rgb(232, 234, 235);
                                            height: 50px;
                                        "
                                    >
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2ZM5 19V5h14l.002 14H5Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="m10 14-1-1-3 4h12l-5-7-3 4ZM8.5 11a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>
                                </td>
                                <td style="width: 20%">
                                    <span style="font-weight: 600;">{{ data.productName }}</span>
                                    <span *ngIf="data.productVariantId && data.productVariantName"> - {{ data.productVariantName }}</span>
                                </td>
                                <td style="width: 9%; text-align: center">
                                    {{ data.unitName }}
                                </td>
                                <td style="width: 10.5%; text-align: center">
                                    {{ data.quantity }}
                                </td>
                                <td style="width: 10.5%; text-align: center">
                                    {{ data.quantity }}
                                </td>
                                <!-- <td style="width: 28%; text-align: center">
                                    <div style="display: flex;" *ngFor="let code of displayedProductCodes(data)">
                                      <div style="margin: 5px 0;" class="variant-item">
                                        <span class="variant-item-label">{{ code }}</span>
                                      </div>
                                    </div>
                                    <div *ngIf="data.productCode.length > 3">
                                      <a (click)="toggleCodeVisibility(data)">{{ data.showAllCodes ? 'Ẩn bớt' : 'Xem thêm' }}</a>
                                    </div>
                                </td> -->
                                <td style="width: 12.5%; text-align: center">
                                    <span *ngIf="!data.productVariantId || !data.productVariantName">{{ (data.totalAmountProduct || 0)  | currency:'VND' }}</span>
                                    <span *ngIf="data.productVariantId && data.productVariantName">{{ (data.totalAmountVariant || 0) | currency:'VND' }}</span>                                    
                                </td>
                            </tr>
                            <tr *ngIf="data.productCode?.length > 0">
                                <td colspan="6">
                                    <div class="flex flex-column">
                                        <div style="display: flex; flex-wrap: wrap;">
                                            <div style="display: flex; " *ngFor="let code of data.productCode">
                                                <div style="margin: 5px 0;" class="variant-item">
                                                  <span class="variant-item-label">{{ code }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>              
                                </td>
                              </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-4">
                <div
                    class="card"
                    style="position: sticky; top: 97px; min-height: 525px"
                >
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-12">
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-6 md:mb-0">
                                    <span style="font-weight: 600;">Nhân viên:</span>
                                    <span> {{ this.userCurrent?.name }}</span>            
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-6 md:mb-0 flex justify-content-end"
                                >
                                    {{ this.ladingData?.createdAt | date : "dd/MM/yyyy HH:mm:ss"}}
                                </div>
                            </div>

                            <div class="field grid">
                                <div style="font-weight: 600;" class="col-12 mb-2 md:col-6 md:mb-0">
                                    Mã chuyển hàng:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-6 md:mb-0 flex justify-content-end"
                                >
                                    {{  this.ladingData?.code || 'Không có mã' }} 
                                </div>
                            </div>

                            <div class="field grid">
                                <!-- Tổng số sản phẩm -->

                                <div style="font-weight: 600;" class="col-12 mb-2 md:col-6 md:mb-0">
                                    Chi nhánh nhận:
                                </div>
                                <div
                                style="padding-left: 81px;"
                                    class="col-12 mb-2 md:col-6 md:mb-0 flex justify-content-end"
                                >
                                    {{ this.ladingData?.toBranchName }}
                                </div>
                            </div>
                            
                            <div class="field grid">
                                <!-- Tổng số sản phẩm -->
                                <div style="font-weight: 600;" class="col-12 mb-2 md:col-6 md:mb-0">
                                    Trạng thái:
                                </div>
                                <div class="col-12 mb-2 md:col-6 md:mb-0 flex justify-content-end">
                                    {{ this.ladingData?.iAccepted === 'waiting' ? 'Đang chuyển' 
                                    : this.ladingData?.iAccepted === 'accept' ? 'Chuyển thành công' 
                                    : this.ladingData?.iAccepted === 'reject' ? 'Hủy chuyển hàng' 
                                    : this.ladingData?.iAccepted }}
                                </div>
                            </div>

                            <div class="field grid">
                                <!-- Tổng số sản phẩm -->

                                <div style="font-weight: 600;" class="col-12 mb-2 md:col-6 md:mb-0">
                                    SL chuyển:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-6 md:mb-0 flex justify-content-end">
                                     {{ totalQuantityProduct }}
                                </div>
                            </div>

                            <div class="field grid">
                                <!-- Tổng số sản phẩm -->

                                <div style="font-weight: 600;" class="col-12 mb-2 md:col-6 md:mb-0">
                                    SL nhận:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-6 md:mb-0 flex justify-content-end">
                                    {{ totalQuantityProduct }}
                                </div>
                            </div>

                            <div class="field" *ngIf="!isAccept">
                                <!-- Ghi chú -->
                                <label style="font-weight: 600;" htmlFor="email1">Ghi chú</label>
                                <textarea
                                    [(ngModel)]="recipientNote"
                                    pInputTextarea
                                    spellcheck="false"
                                ></textarea>
                            </div>

                            <div class="field" *ngIf="isAccept">
                                <!-- Ghi chú -->
                                <label style="font-weight: 600;" htmlFor="email1">Ghi chú</label>
                                <textarea
                                    [(ngModel)]="this.ladingData.note"
                                    pInputTextarea
                                    spellcheck="false"
                                    readonly
                                ></textarea>
                            </div>
                            <button
                                *ngIf="userCurrent?.branchId === this.FromBranchId"
                                pButton
                                pRipple
                                icon="pi pi-check"
                                [label]="isAccept ? 'Đã chuyển hàng' : isRejected ? 'Đã hủy chuyển hàng' : 'Hủy chuyển hàng'"
                                type="button"
                                [disabled]="isAccept || isRejected"
                                (click)="showConfirmDialog()"
                            ></button>
                            <button
                                *ngIf="userCurrent?.branchId === this.ToBranchId"
                                pButton
                                pRipple
                                icon="pi pi-check"
                                [label]="isAccept ? 'Đã chuyển hàng' : isRejected ? 'Đã hủy chuyển hàng' : 'Nhận hàng'"
                                type="button"
                                [disabled]="isAccept || isRejected"
                                (click)="showConfirmDialog2()"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog *ngIf="userCurrent?.branchId === this.FromBranchId"
    [(visible)]="displayConfirmation" [modal]="true" [closable]="false" header="Xác nhận chuyển hàng">
    <p>Bạn muốn xác nhận hủy đơn chuyển hàng này chứ ?</p>
    <!-- <div style="position: absolute; top: 18px; right: 20px; color: red; cursor: pointer;" (click)="this.hideConfirmDialog()">
        <i class="pi pi-times"></i>
    </div> -->
    <p-footer>
      <button style="margin: 0 20px;" pButton type="button" label="Hủy" (click)="this.hideConfirmDialog()" icon="pi pi-times" class="ui-button-secondary"></button>
      <button style="margin: 0 20px;" pButton type="button" label="Xác nhận" (click)="onReject()" icon="pi pi-check"></button>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="userCurrent?.branchId === this.ToBranchId"
    [(visible)]="displayConfirmation2" [modal]="true" [closable]="false" header="Xác nhận chuyển hàng">
    <p>Bạn muốn xác nhận đơn chuyển hàng này chứ ?</p>
    <!-- <div style="position: absolute; top: 18px; right: 20px; color: red; cursor: pointer;" (click)="this.hideConfirmDialog2()">
        <i class="pi pi-times"></i>
    </div> -->
    <p-footer>
      <button style="margin: 0 20px;" pButton type="button" label="Hủy" (click)="this.hideConfirmDialog2()" icon="pi pi-times" class="ui-button-secondary"></button>
      <button style="margin: 0 20px;" pButton type="button" label="Xác nhận" (click)="onConfirm()"  icon="pi pi-check"></button>
    </p-footer>
</p-dialog>
