<main id="main" class="main">
    <div class="pagetitle">
        <div>
          <h3>Danh sách khách hàng</h3>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
              <li class="breadcrumb-item">Khách hàng</li>
              <li class="breadcrumb-item active">Danh sách khách hàng</li>
            </ol>
          </nav>
        </div>
    
        <div class="btn-add-wrapper">
          <button
          pButton
          pRipple
          label="Thêm mới"
          style="height: 40px; width: 130px; border-radius: 10px;"
          (click)="openDialog()"
        ></button>
        </div>

        <div class="toast-container">
          <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
        </div>
    </div>

    <section class="section k-list-table">
        <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div style="margin-top: 15px" class="card">
                  <p-table
                    [value]="customers"
                    [rows]="pageSize"
                    [totalRecords]="totalRecordsCount"
                    [paginator]="false"
                    (onPage)="onPageChange($event)"
                    styleClass="p-datatable-striped"
                  >
                    <ng-template pTemplate="caption">
                        <div
                            class="flex flex-column gap-3 align-items-end md:flex-row md:"
                        >
                            <div class="flex flex-column">
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        placeholder="Tìm kiếm theo Tên/Số điện thoại"
                                        [(ngModel)]="keySearch"
                                        (ngModelChange)="onSearchTermChanged($event)"
                                        style="width: 450px"
                                        class="sm:"
                                    />
                                    <!-- [(ngModel)]="
                                            this.optionsFillerProduct.KeyWord
                                        " -->
                                </span>
                            </div>
                            <button
                                pButton
                                pRipple
                                label="Lọc"
                                (click)="onFilterClick()"
                            ></button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 8%; font-size: 14px;">Tên khách hàng</th>
                        <th style="width: 8%; font-size: 14px;">Giới tính</th>
                        <th style="width: 12%; font-size: 14px;">Số điện thoại</th>
                        <th style="width: 12%; font-size: 14px;">Ngày sinh</th>
                        <th style="width: 12%; font-size: 14px;">Email</th>
                        <th style="width: 5%; font-size: 14px;">Thao tác</th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-customer let-i="rowIndex">
                      <tr class="custom-table">
                        <td style="font-size: 14px;">{{ customer.name }}</td>
                        <td style="font-size: 14px;">{{ customer.gender }}</td>
                        <td style="font-size: 14px;">{{ customer.phoneNumber }}</td>
                        <td style="font-size: 14px; max-width: 110px; overflow: hidden;">{{ customer.dayOfBirth | date: 'dd/MM/yyyy' }}</td>
                        <td style="font-size: 14px;">{{ customer.email }}</td>
                      <!-- <td style="text-align: center;">
                        <i class="pi pi-pencil"
                        style="font-size: 1.2rem; margin-left: 10px" (click)="openDialog2(brand.id)"></i>
                      </td> -->
                      <td>
                          <div class="flex">
                              <button
                                  pButton
                                  pRipple
                                  icon="pi pi-pencil"
                                  class="p-button-rounded p-button-success mr-2"
                                  (click)="openDialog2(customer.id)"
                              ></button>
                          </div>
                      </td>
                    </tr>
                    </ng-template>
                  </p-table>
                  <div *ngIf="totalRecordsCount === 0" style="text-align: center">
                    <strong style="text-align: center; width: 100%"
                      >Không tìm thấy kết quả phù hợp</strong
                    >
                  </div>
                  <div class="paging-bot dg-fix">
                    <div class="paging-info">
                      <div [innerHTML]="currentPageReport"></div>
                    </div>
                    <p-paginator
                      [rows]="pageSize"
                      (onPageChange)="onPageChange($event)"
                      [totalRecords]="totalRecordsCount > 0 ? totalRecordsCount : 1"
                      [rowsPerPageOptions]="[10, 20, 30]"
                  ></p-paginator>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="dialog-background" *ngIf="showDialog">
          <div class="dialog-container-customer">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">Thông tin cơ bản</h5>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" [style]="{'border-radius': '25%'}" (click)="closeDialog()"></p-button>
              </div>
              <!-- General Form Elements -->
              <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" style="padding: 15px;">
                <div class="row mb-12">                 
                  <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                          <label class="labelip"
                            >Tên khách hàng<span class="red-asterisk">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            pInputText
                            [style]="{ height: '40px', width: '95%' }"
                            formControlName="name"
                          />
                          <div *ngIf="customerForm.get('name')?.invalid && (customerForm.get('name')?.dirty || customerForm.get('name')?.touched)">
                          <div *ngIf="customerForm.get('name')?.errors?.['required']" class="error-message">
                              Tên không được bỏ trống
                          </div>
                          <div *ngIf="customerForm.get('name')?.errors?.['minlength']" class="error-message">
                              Tên phải từ 6 ký tự
                          </div>
                          <div *ngIf="customerForm.get('name')?.errors?.['maxlength']" class="error-message">
                              Tên không được quá 100 ký tự
                          </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <label class="labelip"
                            >Số điện thoại<span class="red-asterisk">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            pInputText
                            [style]="{ height: '40px', width: '95%' }"
                            (keypress)="onKeyPress($event)"
                            (input)="checkNameLength()"
                            formControlName="phoneNumber"
                          />
                        <div *ngIf="showNameError2" class="error-message">
                        Số điện thoại không được trùng nhau
                        </div>
                        <div *ngIf="customerForm.get('phoneNumber')?.invalid && (customerForm.get('phoneNumber')?.dirty || customerForm.get('phoneNumber')?.touched)">
                        <div *ngIf="customerForm.get('phoneNumber')?.errors?.['required']" class="error-message">
                            Số điện thoại là bắt buộc
                        </div>
                        <!-- <div *ngIf="customerForm.get('phoneNumber')?.errors?.['pattern']" class="error-message">
                            Số điện thoại phải bắt đầu bằng 03, 05, 07, 08, hoặc 09 và có 10 chữ số.
                        </div>
                        <div *ngIf="customerForm.get('phoneNumber')?.errors?.['minlength']" class="error-message">
                            Số điện thoại phải có đúng 10 chữ số.
                        </div>
                        <div *ngIf="customerForm.get('phoneNumber')?.errors?.['maxlength']" class="error-message">
                            Số điện thoại phải có đúng 10 chữ số.
                        </div> -->
                        </div>
        
                        </div>
                        <div class="col-lg-6 mt-5">
                          <label class="labelip"
                            >Email</label>
                          <input
                            type="text"
                            class="form-control"
                            pInputText
                            [style]="{ height: '40px', width: '95%' }"
                            formControlName="email"
                          />
                          <div *ngIf="customerForm.get('email')?.errors && (customerForm.get('email')?.dirty || customerForm.get('email')?.touched)">
                          <div *ngIf="customerForm.get('email')?.errors?.['invalidEmail']" class="error-message">
                              Email không hợp lệ.
                          </div>
                          <div *ngIf="customerForm.get('email')?.errors?.['maxlength']" class="error-message">
                              Email không được vượt quá 254 ký tự.
                          </div>
                          </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                          <label class="labelip">Ngày sinh</label>
                          <p-calendar [showIcon]="true" [style]="{ height: '40px', width: '95%' }" formControlName="dayOfBirth" dateFormat="dd/mm/yy"></p-calendar>
                          <div *ngIf="customerForm.get('dayOfBirth')?.invalid && (customerForm.get('dayOfBirth')?.dirty || customerForm.get('dayOfBirth')?.touched)">
                            <div *ngIf="customerForm.get('dayOfBirth')?.errors?.['invalidDateOfBirth']" class="error-message">
                                Ngày sinh phải nhỏ hơn hoặc bằng ngày hiện tại.
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-5">
                          <label class="labelip">Giới tính</label>
                          <p-dropdown 
                            [style]="{ height: '40px', width: '98%' }"
                            [options]="genders" 
                            formControlName="gender" 
                            placeholder="Chọn giới tính">
                          </p-dropdown>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-12 mt-5">
                  <div class="col-sm-12 buttonsl">
                      <button pButton pRipple label="Đóng" class="p-button-success buttoncloses" type="button" (click)="closeDialog()"></button>
                      <button pButton pRipple label="Lưu" class="p-button-success butttonsave" type="submit"></button>
                  </div>
                </div>
              </form>
              <!-- End General Form Elements -->
            </div>
          </div>
        </div>

        
    <div class="dialog-background" *ngIf="showDialog2">
      <div class="dialog-container-customer">
        <div class="card-body" *ngIf="customerById">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Thông tin cơ bản</h5>
            <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" [style]="{'border-radius': '25%'}" (click)="closeDialog2()"></p-button>
          </div>
          <!-- General Form Elements -->
          <form [formGroup]="customerForm2" (ngSubmit)="onUpdateSubmit()" style="padding: 15px;">
            <div class="row mb-12">
              <div class="row mb-12">                 
                <div class="col-lg-12">
                  <div class="row">
                      <div class="col-lg-6">
                        <label class="labelip"
                          >Tên khách hàng<span class="red-asterisk">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          pInputText
                          [style]="{ height: '40px', width: '95%' }"
                          formControlName="name"
                        />
                        <div *ngIf="customerForm2.get('name')?.invalid && (customerForm2.get('name')?.dirty || customerForm2.get('name')?.touched)">
                        <div *ngIf="customerForm2.get('name')?.errors?.['required']" class="error-message">
                            Tên không được bỏ trống
                        </div>
                        <div *ngIf="customerForm2.get('name')?.errors?.['minlength']" class="error-message">
                            Tên phải từ 6 ký tự
                        </div>
                        <div *ngIf="customerForm2.get('name')?.errors?.['maxlength']" class="error-message">
                            Tên không được quá 100 ký tự
                        </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <label class="labelip"
                          >Số điện thoại<span class="red-asterisk">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          pInputText
                          [style]="{ height: '40px', width: '95%' }"
                          (keypress)="onKeyPress($event)"
                          (input)="checkNameLength()"
                          formControlName="phoneNumber"
                        />
                      <div *ngIf="showNameError2" class="error-message">
                      Số điện thoại không được trùng nhau
                      </div>
                      <div *ngIf="customerForm2.get('phoneNumber')?.invalid && (customerForm2.get('phoneNumber')?.dirty || customerForm2.get('phoneNumber')?.touched)">
                      <div *ngIf="customerForm2.get('phoneNumber')?.errors?.['required']" class="error-message">
                          Số điện thoại là bắt buộc
                      </div>
                      <!-- <div *ngIf="customerForm.get('phoneNumber')?.errors?.['pattern']" class="error-message">
                          Số điện thoại phải bắt đầu bằng 03, 05, 07, 08, hoặc 09 và có 10 chữ số.
                      </div>
                      <div *ngIf="customerForm.get('phoneNumber')?.errors?.['minlength']" class="error-message">
                          Số điện thoại phải có đúng 10 chữ số.
                      </div>
                      <div *ngIf="customerForm.get('phoneNumber')?.errors?.['maxlength']" class="error-message">
                          Số điện thoại phải có đúng 10 chữ số.
                      </div> -->
                      </div>
      
                      </div>
                      <div class="col-lg-6 mt-5">
                        <label class="labelip"
                          >Email</label>
                        <input
                          type="text"
                          class="form-control"
                          pInputText
                          [style]="{ height: '40px', width: '95%' }"
                          formControlName="email"
                        />
                        <div *ngIf="customerForm2.get('email')?.errors && (customerForm2.get('email')?.dirty || customerForm2.get('email')?.touched)">
                        <div *ngIf="customerForm2.get('email')?.errors?.['invalidEmail']" class="error-message">
                            Email không hợp lệ.
                        </div>
                        <div *ngIf="customerForm2.get('email')?.errors?.['maxlength']" class="error-message">
                            Email không được vượt quá 254 ký tự.
                        </div>
                        </div>
                      </div>
                      <div class="col-lg-6 mt-5">
                        <label class="labelip">Ngày sinh</label>
                        <p-calendar [showIcon]="true" [style]="{ height: '40px', width: '95%' }" formControlName="dayOfBirth" dateFormat="dd/mm/yy"></p-calendar>
                        <div *ngIf="customerForm2.get('dayOfBirth')?.invalid && (customerForm2.get('dayOfBirth')?.dirty || customerForm2.get('dayOfBirth')?.touched)">
                          <div *ngIf="customerForm2.get('dayOfBirth')?.errors?.['invalidDateOfBirth']" class="error-message">
                              Ngày sinh phải nhỏ hơn hoặc bằng ngày hiện tại.
                          </div>
                          </div>
                      </div>
                      <div class="col-lg-12 mt-5">
                        <label class="labelip">Giới tính</label>
                        <p-dropdown 
                          [style]="{ height: '40px', width: '98%' }"
                          [options]="genders" 
                          formControlName="gender" 
                          placeholder="Chọn giới tính">
                        </p-dropdown>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-12 mt-5">
              <div class="col-sm-12 buttonsl">
                  <button pButton pRipple label="Đóng" class="p-button-success buttoncloses" type="button" (click)="closeDialog2()"></button>
                  <button pButton pRipple label="Lưu" class="p-button-success butttonsave" type="submit"></button>
              </div>
            </div>
          </form><!-- End General Form Elements -->
        </div>
      </div>
    </div>
    </section>


</main>
