<p-dialog
    [(visible)]="displayModal"
    modal="true"
    [closable]="false"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '30vw' }"
>
    <!-- Header -->
    <ng-template pTemplate="header">
        <h4>Thêm danh mục</h4>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="content">
        <form [formGroup]="createProductCategoryForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
                <div class="field">
                    <label htmlFor="name1"
                        >Tên danh mục<span class="red-asterisk">*</span></label
                    >
                    <input
                        pInputText
                        id="name1"
                        type="text"
                        spellcheck="false"
                        placeholder="Nhập tên danh mục"
                        formControlName="name"
                    />
                    <div
                        *ngIf="
                            createProductCategoryForm.get('name')?.invalid &&
                            (createProductCategoryForm.get('name')?.dirty ||
                                createProductCategoryForm.get('name')?.touched)
                        "
                    >
                        <div
                            *ngIf="createProductCategoryForm.get('name')?.errors?.['required']"
                            class="error-message"
                        >
                            Tên không được bỏ trống
                        </div>
                        <div
                            *ngIf="createProductCategoryForm.get('name')?.errors?.['minlength']"
                            class="error-message"
                        >
                            Tên phải từ 6 ký tự
                        </div>
                        <div
                            *ngIf="createProductCategoryForm.get('name')?.errors?.['maxlength']"
                            class="error-message"
                        >
                            Tên không được quá 100 ký tự
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label
                        for="email1"
                        class="block text-900 text-large font-weight mb-2"
                        >Danh mục:</label
                    >
                    <div class="flex justify-content-center category-select">
                        <p-treeSelect
                            (onClear)="onClear()"
                            optionLabel="label"
                            [ngModelOptions]="{ standalone: true }"
                            [showClear]="true"
                            (onNodeSelect)="onNodeSelect($event)"
                            class="md:w-100 w-full"
                            containerStyleClass="w-full"
                            [(ngModel)]="selectedNodes"
                            [options]="treeCategory"
                            placeholder="Chọn danh mục cha"
                            [filter]="true"
                            [filterInputAutoFocus]="true"
                        >
                            <ng-template let-node pTemplate="default">
                                <span>{{ node.name }}</span>
                            </ng-template>
                        </p-treeSelect>
                    </div>
                </div>
                <div class="field">
                    <label htmlFor="email1">Mô tả</label>
                    <textarea
                        rows="8"
                        cols="30"
                        placeholder=""
                        pInputTextarea
                    ></textarea>
                </div>
            </div>
        </form>
    </ng-template>

    <!-- Footer -->
    <ng-template pTemplate="footer">
        <div class="flex gap-2 justify-content-end">
            <button
                pButton
                pRipple
                type="button"
                label="Hủy"
                icon="pi pi-times"
                (click)="displayModal = false"
                class="p-button-danger"
            ></button>
            <button
                type="submit"
                pButton
                label="Lưu"
                icon="pi pi-check"
                class="p-button-primary"
            ></button>
        </div>
    </ng-template>
</p-dialog>
