<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Chính sách bảo hành</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right"> </ng-template>
        </p-toolbar>
        <div class="card">
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <h4 class="mb-3">Quản lí chính sách bảo hành</h4>
                    <p>
                        Thiết lập các chính sách bảo hành cho cửa hàng của bạn
                    </p>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        (click)="openCreateModal()"
                        style="width: 250px"
                        label="Thêm chính sách bảo hành"
                    ></button>
                </div>
                <div class="col-12 md:col-8">
                    <!-- [value]="" -->
                    <p-table
                        responsiveLayout="scroll"
                        [rows]="10"
                        [value]="warrantyPolicies"
                        [paginator]="false"
                        [rowsPerPageOptions]="[10, 20, 30]"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        selectionMode="multiple"
                        [rowHover]="true"
                        dataKey="id"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center">STT</th>
                                <th>Tên chính sách</th>
                                <th>Kỳ hạn bảo hành</th>
                                <th>Thao tác</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-warrantyPolicy
                            let-i="rowIndex"
                        >
                            <tr>
                                <td style="width: 2%; text-align: center">
                                    <span class="p-column-title">STT</span>
                                    {{ i + 1 }}
                                </td>
                                <td style="width: 23%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Tên chính sách</span
                                    >
                                    <div class="truncate-2">
                                        {{ warrantyPolicy.name }}
                                    </div>
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Kỳ hạn bảo hành</span
                                    >
                                    {{ warrantyPolicy.term }}
                                    <span *ngIf="warrantyPolicy.termType === 1"
                                        >ngày</span
                                    >
                                    <span *ngIf="warrantyPolicy.termType === 2"
                                        >tuần</span
                                    >
                                    <span *ngIf="warrantyPolicy.termType === 3"
                                        >tháng</span
                                    >
                                    <span *ngIf="warrantyPolicy.termType === 4"
                                        >quý</span
                                    >
                                    <span *ngIf="warrantyPolicy.termType === 5"
                                        >năm</span
                                    >
                                </td>
                                <td style="width: 5%; text-align: center">
                                    <span
                                        class="pi pi-pencil p-1"
                                        (click)="openEditModal(warrantyPolicy)"
                                        title="Sửa"
                                    >
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-create
    #createModal
    (warrantyPolictyCreated)="onWarrantPolicyCreated($event)"
    (loadWarrantyPolicies)="loadWarrantyPolicies()"
></app-create>

<app-edit
    #editModal
    (warrantyPolictyUpdated)="onWarrantPolicyUpdated($event)"
    (loadWarrantyPolicies)="loadWarrantyPolicies()"
></app-edit>
