<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Danh sách nhập kho</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    label="Nhập kho"
                    [routerLink]="['/warehouse/stock-in/create']"
                ></button>
            </ng-template>
        </p-toolbar>
        <div class="card">
            <p-table
                #dt
                [value]="stockInList"
                responsiveLayout="scroll"
                [rows]="pageSize"
                [first]="pageNumber * pageSize"
                [paginator]="false"
                [rowHover]="true"
            >
                <!-- [(selection)]="selectedProducts" -->
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column gap-3 align-items-end md:flex-row md:"
                    >
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Tìm kiếm mã nhập kho:</label
                            >
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="code"
                                    placeholder="Tìm theo mã nhập kho"
                                    style="width: 350px"
                                    class="sm:"
                                />
                            </span>
                        </div>
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Ngày nhập kho:</label
                            >
                            <p-calendar
                                placeholder="Từ ngày - Đến ngày"
                                [(ngModel)]="deadlineRange"
                                selectionMode="range"
                                [showIcon]="true"
                                [showClearButton]="true"
                                (onBlur)="blurDateRange()"
                                [dateFormat]="this.formatdate"
                            ></p-calendar>
                        </div>
                        <button
                            pButton
                            pRipple
                            label="Lọc"
                            (click)="EvenFilter()"
                        ></button>
                        <!-- <button pButton pRipple label="Lọc"></button> -->
                        <!-- (click)="EvenFilter()" -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Mã nhập kho</th>
                        <th>Người tạo</th>
                        <th>Ngày nhập kho</th>
                        <th>Số sản phẩm</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stockInItem>
                    <tr>
                        <td style="width: 5%; min-width: 10rem">
                            <span class="p-column-title">Code</span>
                            {{ stockInItem.code }}
                        </td>
                        <td style="width: 15%; min-width: 10rem">
                            <span class="p-column-title">CreateName</span>
                            <!-- {{ stockInItem.name }} -->
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title"
                                >ImportStockInDate</span
                            >
                            {{
                                stockInItem.createdAt
                                    | date : "dd/MM/yyyy HH:mm:ss"
                            }}

                            <!-- {{ stockInItem.parentName }} -->
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">TotalPoduct</span>
                            {{ stockInItem.subQuantity }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">TotalPrice</span>
                            {{
                                stockInItem.total
                                    | currency : "VND" : "symbol" : "1.0-0"
                            }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Note</span>
                            <span class="truncate-2">
                                {{ stockInItem.note }}
                            </span>
                        </td>

                        <td style="width: 4%; min-width: 10rem">
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="showStockInDetail(stockInItem)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="stockInList?.length > 0">
                <p-paginator
                    [rows]="pageSize"
                    (onPageChange)="onPageChange($event)"
                    [totalRecords]="
                        totalRecordsCount > 0 ? totalRecordsCount : 1
                    "
                    [rowsPerPageOptions]="[10, 20, 30]"
                ></p-paginator>
            </div>
        </div>
    </div>
</div>

<p-dialog
    [(visible)]="displayStockInDetailModal"
    modal="true"
    [closable]="false"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '60vw' }"
>
    <!-- Header -->
    <ng-template pTemplate="header">
        <div class="flex justify-content-between" style="width: 100%">
            <h4>Chi tiết phiếu nhập kho</h4>
            <span class="close" (click)="displayStockInDetailModal = false">
                <i class="pi pi-times"></i>
            </span>
        </div>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-8">
                <div class="card p-0" style="height: 280px">
                    <p-table
                        #dt
                        [value]="stockInItemDetail?.inventoryStockInDetails"
                        responsiveLayout="scroll"
                        [rowHover]="true"
                        dataKey="id"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>#</th>
                                <th>Ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th style="text-align: center">Giá nhập</th>
                                <th style="text-align: center">ĐVT</th>
                                <th style="text-align: center">Số lượng</th>
                                <th style="text-align: center">Thành tiền</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-data let-i="rowIndex">
                            <tr>
                                <td style="width: 3%">
                                    {{ i + 1 }}
                                </td>
                                <td style="width: 8%">
                                    <img
                                        *ngIf="data.productImage"
                                        [src]="imageUrl + data.productImage"
                                        alt="Product Image"
                                    />

                                    <svg
                                        *ngIf="!data.productImage"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="jss3869 ng-star-inserted"
                                        style="
                                            color: rgb(232, 234, 235);
                                            height: 50px;
                                        "
                                    >
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2ZM5 19V5h14l.002 14H5Z"
                                            fill="currentColor"
                                        ></path>
                                        <path
                                            _ngcontent-ng-c1628733639=""
                                            d="m10 14-1-1-3 4h12l-5-7-3 4ZM8.5 11a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                            fill="currentColor"
                                        ></path>
                                    </svg>
                                </td>
                                <td style="width: 15.5%">
                                    {{ data.productName }}
                                </td>
                                <td style="width: 12.5%; text-align: center">
                                    {{ data.price }}
                                </td>
                                <td style="width: 9%; text-align: center">
                                    {{ data.unit }}
                                </td>
                                <td style="width: 13.5%; text-align: center">
                                    {{ data.quantity }}
                                </td>
                                <td style="width: 13.5%; text-align: center">
                                    {{ data.totail }}
                                </td>
                            </tr>
                            <tr
                                *ngIf="
                                    data &&
                                    data.inventoryStockDetailProductImeies
                                "
                            >
                                <td colspan="8" class="p-3 border-none">
                                    <div class="flex flex-column">
                                        <label for="" class="mb-2"
                                            >Số khung/ số máy</label
                                        >
                                        <div
                                            class="variant-item"
                                            *ngFor="
                                                let variant of data.inventoryStockDetailProductImeies;
                                                let i = index
                                            "
                                        >
                                            <span class="variant-item-label"
                                                >{{ variant.frameNumber }}/{{
                                                    variant.engineNumber
                                                }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-4">
                <div
                    class="card"
                    style="min-height: 280px; background-color: #efeeee"
                >
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-12">
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Tổng số sản phẩm
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-end"
                                >
                                    <span>{{
                                        stockInItemDetail?.subQuantity
                                    }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Tổng tiền hàng
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-end"
                                >
                                    <span>{{
                                        stockInItemDetail?.total
                                            | currency
                                                : "VND"
                                                : "symbol"
                                                : "1.0-0"
                                    }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Giảm giá
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-end"
                                >
                                    <span>{{
                                        stockInItemDetail?.totalDiscount
                                            | currency
                                                : "VND"
                                                : "symbol"
                                                : "1.0-0"
                                    }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Cần trả nhà cung cấp
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-end"
                                >
                                    <span>{{
                                        stockInItemDetail?.total -
                                            stockInItemDetail?.totalDiscount
                                            | currency
                                                : "VND"
                                                : "symbol"
                                                : "1.0-0"
                                    }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Tiền trả nhà cung cấp
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-end"
                                >
                                    <span>{{
                                        stockInItemDetail?.total -
                                            stockInItemDetail?.totalDiscount
                                            | currency
                                                : "VND"
                                                : "symbol"
                                                : "1.0-0"
                                    }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div
                    class="card"
                    style="height: auto; background-color: #efeeee"
                >
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Mã hóa đơn
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-start"
                                >
                                    <span>{{ stockInItemDetail?.code }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Nhà cung cấp
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-start"
                                >
                                    Đang trống
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Địa chỉ
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-start"
                                >
                                    Đang trống
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Thời gian tạo
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-start"
                                >
                                    <span>{{
                                        stockInItemDetail?.createdAt
                                            | date : "dd/MM/yyyy HH:mm:ss"
                                    }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-7 md:mb-0">
                                    Người tạo
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-5 md:mb-0 flex justify-content-start"
                                >
                                    Đang trống
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
