<p-toast />

<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Cập nhật yêu cầu bảo hành</h3>
                <p-breadcrumb
                    [home]="{ icon: 'pi pi-home' }"
                    [model]="items"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right"></ng-template>
        </p-toolbar>
        <div class="grid">
            <div class="col-8">
                <div class="card">
                    <label style="font-weight: 600" class="mb-2">
                        Thông tin khách hàng</label
                    >
                    <!-- <p-autoComplete
                        [(ngModel)]="selectedItem"
                        [suggestions]="customers"
                        field="name"
                        spellcheck="false"
                        placeholder="Tìm kiếm khách hàng theo tên, SĐT, Mã khách hàng"
                        (completeMethod)="search($event)"
                        (onSelect)="onCustomerSelect($event)"
                    /> -->
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-6">
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-5 md:mb-0">
                                    Mã yêu cầu:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-7 md:mb-0 flex justify-content-start"
                                >
                                    <span>{{ warrantyClaimId?.id }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-5 md:mb-0">
                                    Ngày tạo:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-7 md:mb-0 flex justify-content-start"
                                >
                                    <span>{{
                                        warrantyClaimId?.createdAt
                                            | date : "dd/MM/yyyy, HH:mm"
                                    }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-5 md:mb-0">
                                    Người tạo:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-7 md:mb-0 flex justify-content-start"
                                >
                                    <span>{{
                                        warrantyClaimId?.createName
                                    }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-5 md:mb-0">
                                    Tên khách hàng:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-7 md:mb-0 flex justify-content-start"
                                >
                                    <span>{{
                                        warrantyClaimId?.customerName
                                    }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-5 md:mb-0">
                                    Số điện thoại:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-7 md:mb-0 flex justify-content-start"
                                >
                                    <span>{{
                                        warrantyClaimId?.phoneNumber
                                    }}</span>
                                </div>
                            </div>
                            <div class="field grid">
                                <div class="col-12 mb-2 md:col-5 md:mb-0">
                                    Địa chỉ:
                                </div>
                                <div
                                    class="col-12 mb-2 md:col-7 md:mb-0 flex justify-content-start"
                                >
                                    {{
                                        warrantyClaimId?.customer.addressDetail
                                    }}
                                    {{
                                        ", " +
                                            warrantyClaimId?.customer.wardName
                                    }}{{
                                        ", " +
                                            warrantyClaimId?.customer
                                                .districtname
                                    }}{{
                                        ", " +
                                            warrantyClaimId?.customer.cityName
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- listCart -->
                <div class="card">
                    <p-table
                        [value]="warrantyClaimId?.warrrantyWarrantyClaims"
                        responsiveLayout="scroll"
                        [rowHover]="true"
                        dataKey="id"
                    >
                        <ng-template pTemplate="caption"></ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th>#</th>
                                <th>Tên sản phẩm</th>
                                <th style="text-align: center">Mã bảo hành</th>
                                <th style="text-align: center">Số lượng</th>
                                <th style="text-align: center">
                                    Hẹn trả khách
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-data let-i="rowIndex">
                            <tr style="height: 105px">
                                <td style="width: 3%">
                                    {{ i + 1 }}
                                </td>
                                <td style="width: 12.5%; text-align: left">
                                    <div class="flex flex-column">
                                        <span>
                                            {{
                                                data.warranty
                                                    .warrantyProducts[0]
                                                    .productName
                                            }}-{{
                                                data.warranty
                                                    .warrantyProducts[0]
                                                    .productVariant
                                                    .valuePropeties1
                                            }}
                                            -{{
                                                data.warranty
                                                    .warrantyProducts[0]
                                                    .productVariant
                                                    .valuePropeties2
                                            }}
                                        </span>
                                        <span
                                            ><strong>Số Serial:</strong>
                                            {{ data.warranty.productCode }}
                                        </span>
                                    </div>
                                </td>
                                <td style="width: 9%; text-align: center">
                                    <!-- {{ warrantyId }} -->
                                    {{ data.warranty.id }}
                                </td>
                                <td style="width: 7%; text-align: center">1</td>
                                <td style="width: 22.5%; text-align: center">
                                    <span>{{
                                        data.dueDate
                                            | date : "dd/MM/yyyy, HH:mm"
                                    }}</span>
                                </td>
                                <td style="width: 1%; text-align: center">
                                    <i
                                        style="color: red"
                                        class="pi pi-trash"
                                        (click)="removeProduct(i)"
                                    ></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="position: sticky; top: 97px">
                    <div class="grid p-fluid">
                        <div
                            class="col-12 md:col-12 flex flex-column"
                            style="height: 100%"
                        >
                            <div style="flex: 1">
                                <label
                                    class="mb-2"
                                    style="font-weight: 600"
                                ></label>
                                <label class="mb-2" style="font-weight: 600"
                                    >Thông tin phiếu yêu cầu</label
                                >
                                <div class="field grid">
                                    <!-- Tổng số sản phẩm -->

                                    <div class="col-12 mb-2 md:col-5 md:mb-0">
                                        <label class="mb-2">Chi nhánh</label>
                                    </div>
                                    <div
                                        class="col-12 mb-2 md:col-7 md:mb-0 flex justify-content-end"
                                    >
                                        <span>{{
                                            warrantyClaimId?.branchName
                                        }}</span>
                                    </div>
                                </div>
                                <div class="field grid">
                                    <!-- Tổng số sản phẩm -->

                                    <div class="col-12 mb-2 md:col-5 md:mb-0">
                                        Số lượng sản phẩm:
                                    </div>
                                    <div
                                        class="col-12 mb-2 md:col-7 md:mb-0 flex justify-content-end"
                                    >
                                        {{
                                            warrantyClaimId
                                                .warrrantyWarrantyClaims.length
                                        }}
                                    </div>
                                </div>
                                <div class="field">
                                    <!-- Ghi chú -->
                                    <label htmlFor="email1"
                                        >Mô tả chi tiết lỗi</label
                                    >
                                    <div>
                                        {{ warrantyClaimId.note }}
                                    </div>

                                    <!-- [(ngModel)]="note" -->
                                </div>
                                <div class="field">
                                    <div class="list-image-err">
                                        <div
                                            *ngFor="let url of listImagesError"
                                        >
                                            <img
                                                width="100px"
                                                [src]="imageUrl + url"
                                                alt="Image"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="field mb-4">
                                    <label>Trạng thái</label>
                                    <p-dropdown
                                        [options]="optionsStatus"
                                        [style]="{ width: '100%' }"
                                        [(ngModel)]="selectedStatus"
                                        optionLabel="label"
                                        optionValue="value"
                                        (onChange)="onStatusChange($event)"
                                    ></p-dropdown>
                                </div>
                            </div>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-plus"
                                label="Cập nhật"
                                (click)="updateStatus()"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
