<p-dialog
    header="Chỉnh sửa danh mục"
    [(visible)]="displayModal"
    modal="true"
    [closable]="false"
    [style]="{ width: '30vw' }"
>
    <form (ngSubmit)="onSubmit()">
        <div class="p-field">
            <label for="name">Tên danh mục</label>
            <input id="name" pInputText name="name" required />
            <!-- [(ngModel)]="category.name" -->
        </div>
        <p-footer>
            <button
                type="button"
                pButton
                label="Hủy"
                icon="pi pi-times"
                (click)="displayModal = false"
            ></button>
            <button
                type="submit"
                pButton
                label="Lưu"
                icon="pi pi-check"
                class="p-button-primary"
            ></button>
        </p-footer>
    </form>
</p-dialog>
