<p-toast />
<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column align-items-center justify-content-center">
            <div
                style="
                    border-radius: 56px;
                    padding: 0.3rem;
                    background: linear-gradient(
                        180deg,
                        var(--primary-color) 10%,
                        rgba(33, 150, 243, 0) 30%
                    );
                "
            >
                <div
                    class="w-full surface-card py-8 px-5 sm:px-8"
                    style="border-radius: 53px"
                >
                    <div class="text-center mb-5">
                        <img
                            src="assets/image/logo/logo.png"
                            alt="Image"
                            height="50"
                            class="mb-3"
                        />
                        <div class="text-600 text-2xl font-medium mb-3">
                           THIẾT LẬP MẬT KHẨU MỚI
                        </div>
                        <!-- <span class="text-600 font-medium"
                            >Thay đổi mật khẩu</span
                        > -->
                    </div>

                    <p-messages [(value)]="messages"></p-messages>

                    <div>
                        <div class="mb-3">
                            <label
                                for="email1"
                                class="block text-900 text-xl font-medium mb-2"
                                >Email</label
                            >
                            <input
                                id="email1"
                                type="text"
                                placeholder="Nhập email"
                                pInputText
                                class="w-full md:w-30rem"
                                style="padding: 1rem"
                                formControlName="email"
                            />

                            <div
                                *ngIf="
                                    resetPasswordForm.get('email')?.invalid &&
                                    (resetPasswordForm.get('email')?.dirty ||
                                        resetPasswordForm.get('email')?.touched)
                                "
                            >
                                <div
                                    *ngIf="resetPasswordForm.get('email')?.errors?.['required']"
                                    class="error-message"
                                >
                                    Vui lòng nhập email
                                </div>
                                <div
                                    *ngIf="resetPasswordForm.get('email')?.errors?.['pattern']"
                                    class="error-message"
                                >
                                    Email không hợp lệ.
                                </div>
                            </div>
                            <!-- [(ngModel)]="loginRequest.email" -->
                        </div>
                        <div class="mb-3">
                            <label
                                for="password1"
                                class="block text-900 font-medium text-xl mb-2"
                                >Mật khẩu mới</label
                            >
                            <p-password
                                id="password1"
                                placeholder="Nhập mật khẩu mới"
                                [toggleMask]="true"
                                formControlName="newPassword"
                                inputStyleClass="w-full p-3 md:w-30rem"
                            ></p-password>
                            <div
                                *ngIf="
                                    resetPasswordForm.get('newPassword')?.invalid &&
                                    (resetPasswordForm.get('newPassword')?.dirty ||
                                        resetPasswordForm.get('newPassword')?.touched)
                                "
                            >
                                <div
                                    *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']"
                                    class="error-message"
                                >
                                    Vui lòng nhập mật khẩu mới
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label
                                for="confirmPassword"
                                class="block text-900 font-medium text-xl mb-2"
                                >Xác nhận mật khẩu mới</label
                            >
                            <p-password
                                id="confirmPassword"
                                placeholder="Nhập lại mật khẩu mới"
                                [toggleMask]="true"
                                formControlName="confirmPassword"
                                inputStyleClass="w-full p-3 md:w-30rem"
                            ></p-password>
                            <div
                            *ngIf="
                              resetPasswordForm.errors?.['passwordMismatch'] &&
                              (resetPasswordForm.get('confirmPassword')?.dirty ||
                                resetPasswordForm.get('confirmPassword')?.touched)
                            "
                          >
                            <div class="error-message">Mật khẩu xác nhận không khớp.</div>
                          </div>
                        </div>

                        <div class="mb-3">
                            <label
                                for="otp"
                                class="block text-900 font-medium text-xl mb-2"
                                >Mã OTP</label
                            >
                            <input
                                id="otp"
                                type="text"
                                placeholder="Nhập mã OTP"
                                pInputText
                                class="w-full md:w-30rem"
                                style="padding: 1rem"
                                formControlName="otp"
                            />
                        </div>

                        <div style="float: right; padding-bottom: 10px;">
                            <a [routerLink]="['/auth/resend-email-otp']"
                                class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)"
                                >Lấy lại mã OTP!</a
                            >
                        </div>
                     
                        <button
                        *ngIf="!otpSent"
                            pButton
                            pRipple
                            label="XÁC NHẬN"
                            class="w-full p-3 text-xl"
                            type="submit"
                        ></button>

                        <button
                        *ngIf="otpSent"
                            pButton
                            pRipple
                            label="Quay lại trang đăng nhập"
                            class="w-full p-3 text-xl"
                            type="submit"
                            (click)="navigateToSetPassword()"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




<!-- [routerLink]="['/']" -->
