<div class="activate-warranty">
    <div class="banner">
        <img src="assets/image/banner/banner.png" alt="" />
    </div>
    <div class="container">
        <div class="warranty-list">
            <div class="warranty-item" [routerLink]="'/activate-warranty'">
                <div class="warranty-item-img">
                    <img src="assets/image/warranty/activate.png" alt="" />
                </div>
                <h1>KÍCH HOẠT BẢO HÀNH</h1>
            </div>
            <div class="warranty-item">
                <div class="warranty-item-img">
                    <img src="assets/image/warranty/guarantee.png" alt="" />
                </div>
                <h1>TRA CỨU BẢO HÀNH</h1>
            </div>
            <div class="warranty-item">
                <div class="warranty-item-img">
                    <img src="assets/image/warranty/lookup.png" alt="" />
                </div>

                <h1>HỖ TRỢ BẢO HÀNH</h1>
            </div>
        </div>
    </div>
    <footer class="footer">
        <h1>THÔNG TIN CHUNG</h1>
        <h1 class="name-company">CÔNG TY TNHH TMDV & XNK TIẾN LINH</h1>
        <span>Địa chỉ: Mễ Hạ, Yên Phú, Yên Mỹ, Hưng Yên</span>
        <span>Email: tienlinhgroups&#64;gmail.com</span>
        <span>SĐT:0961462860</span>
    </footer>
</div>
