<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Phiếu bảo hành</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right"></ng-template>
        </p-toolbar>
        <div class="card">
            <p-toast></p-toast>
            <p-table
                #dt
                styleClass="p-datatable-striped"
                [value]="warranties"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="pageSize"
                [first]="pageNumber * pageSize"
                [paginator]="false"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column gap-3 align-items-end md:flex-row md:"
                    >
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Tìm kiếm khách hàng:</label
                            >
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="
                                        this.optionsFilterWarranty
                                            .CustomerKeyword
                                    "
                                    placeholder="Tìm kiếm theo tên/SĐT"
                                    style="width: 350px"
                                    class="sm:"
                                />
                            </span>
                        </div>
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Số serial:</label
                            >
                            <span class="block mt-2 md:mt-0">
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="
                                        this.optionsFilterWarranty.Imei
                                    "
                                    placeholder="Tìm kiếm theo số Serial/Imei"
                                    style="width: 250px"
                                    class="sm:"
                                />
                            </span>
                        </div>
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Tên sản phẩm:</label
                            >
                            <span class="block mt-2 md:mt-0">
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="
                                        this.optionsFilterWarranty.ProductName
                                    "
                                    placeholder="Tìm kiếm theo tên sản phẩm"
                                    style="width: 250px"
                                    class="sm:"
                                />
                            </span>
                        </div>
                        <button
                            pButton
                            pRipple
                            label="Lọc"
                            (click)="loadWarranty()"
                        ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="code">Mã phiếu</th>
                        <th style="width: 15rem" pSortableColumn="name">
                            Tên khách hàng
                        </th>
                        <th>Số điện thoại</th>
                        <th pSortableColumn="inventoryStatus">Tên sản phẩm</th>
                        <th pSortableColumn="price">Số Serial/Imei</th>
                        <th style="width: 13rem">Ngày hết hạn bảo hành</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-warrantyOrder
                    let-expanded="expanded"
                    let-i="index"
                >
                    <tr>
                        <td>
                            <div *ngIf="warrantyOrder.warrantyProducts">
                                <p-button
                                    type="button"
                                    pRipple
                                    [pRowToggler]="warrantyOrder"
                                    [text]="true"
                                    [rounded]="true"
                                    [plain]="true"
                                    [icon]="
                                        expanded
                                            ? 'pi pi-chevron-down'
                                            : 'pi pi-chevron-right'
                                    "
                                />
                            </div>
                        </td>
                        <td>
                            {{ warrantyOrder.id }}
                        </td>
                        <td>{{ warrantyOrder.customerName }}</td>
                        <td>{{ warrantyOrder.phoneNumber }}</td>
                        <td>
                            {{
        warrantyOrder?.warrantyProducts?.[0]?.product?.name || 'N/A'
                            }}
                            {{
        (warrantyOrder?.warrantyProducts?.[0]?.productVariant?.valuePropeties1 
            ? '-' + warrantyOrder.warrantyProducts[0].productVariant.valuePropeties1 
            : '')
                            }}
                            {{
        (warrantyOrder?.warrantyProducts?.[0]?.productVariant?.valuePropeties2 
            ? '-' + warrantyOrder.warrantyProducts[0].productVariant.valuePropeties2 
            : '')
                            }}
                        </td>

                        <td>
                            {{
        warrantyOrder?.warrantyProducts?.[0]?.inventoryStockDetailProductImei
            ? warrantyOrder.warrantyProducts[0].inventoryStockDetailProductImei.frameNumber + '-' +
              warrantyOrder.warrantyProducts[0].inventoryStockDetailProductImei.engineNumber
            : 'N/A'
                            }}
                        </td>

                        <td>
                            {{
        warrantyOrder?.warrantyProducts?.[0]?.expirationDate 
            ? (warrantyOrder.warrantyProducts[0].expirationDate | date: 'dd/MM/yyyy HH:mm:ss') 
            : 'N/A'
                            }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-warrantyOrder>
                    <tr>
                        <td colspan="8">
                            <div class="p-3" style="margin-left: 54px">
                                <div class="grid p-fluid">
                                    <div class="col-12 md:col-6">
                                        <div class="field grid">
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-3 md:mb-0"
                                            >
                                                Tên sản phẩm:
                                            </div>
                                            <div
                                                htmlFor="name3"
                                                class="col-12 mb-2 md:col-7 md:mb-0"
                                            >
                                                {{
                                                    warrantyOrder
                                                        .warrantyProducts[0]
                                                        .product.name
                                                }}
                                                <span
                                                    *ngIf="
                                                        warrantyOrder
                                                            .warrantyProducts[0]
                                                            .productVariant
                                                            .valuePropeties1
                                                    "
                                                >
                                                    -
                                                    {{
                                                        warrantyOrder
                                                            .warrantyProducts[0]
                                                            .productVariant
                                                            .valuePropeties1
                                                    }}
                                                </span>
                                                <span
                                                    *ngIf="
                                                        warrantyOrder
                                                            .warrantyProducts[0]
                                                            .productVariant
                                                            .valuePropeties2
                                                    "
                                                >
                                                    -
                                                    {{
                                                        warrantyOrder
                                                            .warrantyProducts[0]
                                                            .productVariant
                                                            .valuePropeties2
                                                    }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="field grid">
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-3 md:mb-0"
                                            >
                                                Serial/IMEI:
                                            </div>
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-7 md:mb-0"
                                            >
                                                {{ warrantyOrder.productCode }}
                                                <!-- {{
                                                    warrantyOrder
                                                        .warrantyProducts[0]
                                                        .inventoryStockDetailProductImei
                                                        .frameNumber
                                                }}-{{
                                                    warrantyOrder
                                                        .warrantyProducts[0]
                                                        .inventoryStockDetailProductImei
                                                        .engineNumber
                                                }} -->
                                            </div>
                                        </div>
                                        <div class="field grid">
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-3 md:mb-0"
                                            >
                                                Số lượng:
                                            </div>
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-7 md:mb-0"
                                            >
                                                1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <div class="field grid">
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-3 md:mb-0"
                                            >
                                                Tên khách hàng:
                                            </div>
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-7 md:mb-0"
                                            >
                                                {{
                                                    warrantyOrder.customer.name
                                                }}
                                            </div>
                                        </div>
                                        <div class="field grid">
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-3 md:mb-0"
                                            >
                                                Ngày lập phiếu:
                                            </div>
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-7 md:mb-0"
                                            >
                                                {{
                                                    warrantyOrder.createdAt
                                                        | date
                                                            : "dd/MM/yyyy HH:mm:ss"
                                                }}
                                            </div>
                                        </div>
                                        <div class="field grid">
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-3 md:mb-0"
                                            >
                                                Chi nhánh:
                                            </div>
                                            <div
                                                htmlfor="name3"
                                                class="col-12 mb-2 md:col-7 md:mb-0"
                                            >
                                                {{ warrantyOrder.branchName }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-12">
                                        <!-- [value]="" -->
                                        <p-table
                                            responsiveLayout="scroll"
                                            [rows]="10"
                                            selectionMode="multiple"
                                            [value]="
                                                warrantyOrder.warrantyProducts
                                            "
                                            [rowHover]="true"
                                            dataKey="id"
                                        >
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>
                                                        Tên chính sách bảo hành
                                                    </th>
                                                    <th>Kì hạn bảo hành</th>
                                                    <th>
                                                        Ngày hết hạn bảo hành
                                                    </th>
                                                </tr>
                                            </ng-template>

                                            <ng-template
                                                pTemplate="body"
                                                let-item
                                            >
                                                <tr>
                                                    <td
                                                        style="
                                                            width: 5%;
                                                            min-width: 10rem;
                                                        "
                                                    >
                                                        <span
                                                            class="p-column-title"
                                                            >STT</span
                                                        >
                                                        {{
                                                            item.product
                                                                .warrantyPolicy
                                                                ?.name ||
                                                                "Sản phẩm không có chính sách bảo hành"
                                                        }}
                                                    </td>
                                                    <td
                                                        style="
                                                            width: 23%;
                                                            min-width: 10rem;
                                                        "
                                                    >
                                                        <span
                                                            class="p-column-title"
                                                            >Tên chính
                                                            sách</span
                                                        >
                                                        <span
                                                            *ngIf="
                                                                !item.product
                                                                    ?.warrantyPolicy
                                                                    ?.term
                                                            "
                                                            >Không bảo
                                                            hành</span
                                                        >
                                                        <span
                                                            *ngIf="
                                                                item.product
                                                                    ?.warrantyPolicy
                                                                    ?.term
                                                            "
                                                        >
                                                            {{
                                                                item.product
                                                                    .warrantyPolicy
                                                                    .term
                                                            }}
                                                        </span>
                                                        <span
                                                            *ngIf="
                                                                item.product
                                                                    ?.warrantyPolicy
                                                                    ?.termType ===
                                                                1
                                                            "
                                                            >ngày</span
                                                        >
                                                        <span
                                                            *ngIf="
                                                                item.product
                                                                    ?.warrantyPolicy
                                                                    ?.termType ===
                                                                2
                                                            "
                                                            >tuần</span
                                                        >
                                                        <span
                                                            *ngIf="
                                                                item.product
                                                                    ?.warrantyPolicy
                                                                    ?.termType ===
                                                                3
                                                            "
                                                            >tháng</span
                                                        >
                                                        <span
                                                            *ngIf="
                                                                item.product
                                                                    ?.warrantyPolicy
                                                                    ?.termType ===
                                                                4
                                                            "
                                                            >quý</span
                                                        >
                                                        <span
                                                            *ngIf="
                                                                item.product
                                                                    ?.warrantyPolicy
                                                                    ?.termType ===
                                                                5
                                                            "
                                                            >năm</span
                                                        >
                                                    </td>
                                                    <td
                                                        style="
                                                            width: 14%;
                                                            min-width: 10rem;
                                                        "
                                                    >
                                                        <span
                                                            class="p-column-title"
                                                            >Kỳ hạn bảo
                                                            hành</span
                                                        >
                                                        {{
                                                            item.expirationDate
                                                                | date
                                                                    : "dd/MM/yyyy HH:mm:ss"
                                                        }}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div
                                        class="col-12 md:col-12 flex justify-content-end gap-3"
                                    >
                                        <button
                                            pButton
                                            pRipple
                                            type="button"
                                            label="In"
                                            style="width: 60px"
                                            class="p-button-outlined"
                                        ></button>
                                        <button
                                            type="button"
                                            pButton
                                            (click)="
                                                warrantyRequest(warrantyOrder)
                                            "
                                            style="width: 150px"
                                            label="Yêu cầu bảo hành"
                                            class="p-button-primary"
                                        ></button>
                                    </div>
                                </div>
                                <!-- <p-table
                                    [value]="product.productVariants"
                                    dataKey="id"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="id">
                                                Ảnh <p-sortIcon field="price" />
                                            </th>
                                            <th pSortableColumn="customer">
                                                Phiên bản
                                                <p-sortIcon field="customer" />
                                            </th>
                                            <th pSortableColumn="date">
                                                Tồn kho
                                                <p-sortIcon field="date" />
                                            </th>
                                            <th pSortableColumn="amount">
                                                Giá<p-sortIcon field="amount" />
                                            </th>
                                            <th pSortableColumn="status">
                                                Trạng thái
                                                <p-sortIcon field="status" />
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td>
                                                <img
                                                    [src]="
                                                        'http://103.153.69.217:5055/api/files/images/' +
                                                        order.linkImage
                                                    "
                                                    [alt]="order.name"
                                                    width="50"
                                                    height="50"
                                                    class="shadow-4"
                                                />
                                            </td>
                                            <td>
                                                <div class="">
                                                    <h6>
                                                        {{
                                                            product.name +
                                                                " - " +
                                                                order.valuePropeties1 +
                                                                " - " +
                                                                order.valuePropeties2
                                                        }}
                                                    </h6>
                                                    <span>{{ order.sku }}</span>
                                                </div>
                                            </td>
                                            <td>{{ order.quantity }}</td>
                                            <td>
                                                {{
                                                    order.price
                                                        | currency : "USD"
                                                }}
                                            </td>
                                            <td>
                                                <p-tag
                                                    [value]="order.status"
                                                    [severity]="
                                                        getStatusSeverity(
                                                            order.status
                                                        )
                                                    "
                                                />
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">There are no order for this product yet.</td>
                                        </tr>
                                    </ng-template>
                                </p-table> -->
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="warranties?.length > 0">
                <p-paginator
                    [rows]="pageSize"
                    (onPageChange)="onPageChange($event)"
                    [totalRecords]="
                        totalRecordsCount > 0 ? totalRecordsCount : 1
                    "
                    [rowsPerPageOptions]="[10, 20, 30]"
                ></p-paginator>
            </div>
        </div>
    </div>
</div>
