.avatar img{
    height: 35px;
    width: 35px;
    border-radius:50%
}

.user-info{
    margin-left: 1rem;
    display:flex;
    align-items:center;
    gap: 8px;
    background-color: var(--blue-100);
    border-radius: 40px;
    padding: 4px;
    padding-left: 15px;
    transition: 0.2s linear;
}

/* .user-info:hover {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.user-info:hover.user-info span {
    color: #fff;
} */

.user-info span{
    color: var(--primary-color);
    font-weight: 600;
}

.box-user{
    position: relative;
    cursor: pointer;
    user-select: none;
}

.dropdown-user-info{
    position: absolute;
    width: 200px;
    top: 50px;
    cursor: pointer;
    right: 0;
    background-color: #fff;
    padding: 6px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.user-info-list{
    display:flex;
    flex-direction:column;
}

.user-info-item{
    list-style: none;
    padding: 7px;
    margin:2px 0;
    border-radius: 4px;
    transition: 0.1s linear;
    cursor: pointer;
}

.user-info-item:hover {
    background-color: rgb(42, 41, 134, 0.1);;
}

ul{
    margin-bottom: 0;
}

.user-info-item:last-child{
    /* border-top: 1px solid #ccc;
    border-radius: 0; */
}