<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Danh mục sản phẩm</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    label="Thêm danh mục"
                    (click)="openDialog()"
                ></button>
            </ng-template>
        </p-toolbar>
        <div class="card">
            <p-table
                #dt
                [value]="categories"
                responsiveLayout="scroll"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <!-- [(selection)]="selectedProducts" -->
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column gap-3 align-items-end md:flex-row md:"
                    >
                        <div class="flex flex-column">
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="text"
                                    placeholder="Tìm kiếm theo tên/SKU sản phẩm"
                                    style="width: 350px"
                                    class="sm:"
                                />
                                <!-- [(ngModel)]="
                                        this.optionsFillerProduct.KeyWord
                                    " -->
                            </span>
                        </div>
                        <button pButton pRipple label="Lọc"></button>
                        <!-- (click)="EvenFilter()" -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Mã</th>
                        <th>Tên danh mục</th>
                        <th>Trực thuộc</th>
                        <th>Cấp</th>
                        <th>Người tạo</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="category"
                            ></p-tableCheckbox>
                        </td>
                        <td style="width: 5%; min-width: 10rem">
                            <span class="p-column-title">Id</span>
                            {{ category.id }}
                        </td>
                        <td style="width: 23%; min-width: 10rem">
                            <span class="p-column-title">Name</span>
                            {{ category.name }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">ParentName</span>
                            {{ category.parentName }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Level</span>
                            {{ category.level }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">CreateName</span>
                            <!-- {{ product.category }} -->
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Status</span>
                            {{ category.status }}
                        </td>

                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="dialog-background" *ngIf="showDialog">
            <div class="dialog-container">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title">Thêm danh mục</h5>
                  <p-button
                    icon="pi pi-times"
                    [rounded]="true"
                    [text]="true"
                    severity="danger"
                    [style]="{ 'border-radius': '25%' }"
                    (click)="closeDialog(categoryForm)"
                  ></p-button>
                </div>
      
                <form #categoryForm="ngForm" (ngSubmit)="onSubmitAdd(categoryForm)">
                  <div class="row mb-12">
                    <label for="inputText" class="col-sm-12 col-form-label"
                      >Tên danh mục<span class="red-asterisk">*</span></label
                    >
                    <div class="col-sm-12">
                      <input
                        type="text"
                        id="name"
                        name="name"
                        [(ngModel)]="categoriess.name"
                        class="form-control"
                        (input)="checkNameLength()"
                        required
                      />
                      <div *ngIf="showNameError" class="error-message">
                        Tên danh mục không được bỏ trống
                      </div>
                      <div *ngIf="showNameError2" class="error-message">
                        Tên danh mục không được trùng nhau
                      </div>
                      <div *ngIf="showNameError4" class="text-danger">
                        Tên phải lớn hơn 3 ký tự && nhỏ hơn 100 ký tự
                      </div>
                    </div>
                  </div>
                  <div class="row mb-12">
                    <label class="col-sm-12 col-form-label">Danh mục cha</label>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="flex justify-content-center category-select">
                          <p-treeSelect
                            containerStyleClass="w-full"
                            [options]="categorieandchild"
                            [(ngModel)]="selectedCategory"
                            optionLabel="label"
                            placeholder="Chọn danh mục"
                            [showClear]="true"
                            [style]="{ width: '100%' }"
                            (onNodeSelect)="onNodeSelect($event)"
                            (onNodeUnselect)="onNodeUnselect($event)"
                            (onFocus)="onTreeSelectFocus()"
                          >
                            <ng-template let-node pTemplate="default">
                              <span>{{ node.label }}</span>
                            </ng-template>
                          </p-treeSelect>
                          <div *ngIf="showNameError5" class="text-danger">
                            Danh mục đã vượt quá cấp 5.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-12">
                    <label for="inputDes" class="col-sm-12 col-form-label"
                      >Mô tả</label
                    >
                    <div class="col-sm-12">
                      <textarea
                        class="form-control"
                        style="height: 100px"
                        id="description"
                        name="description"
                        [(ngModel)]="categoriess.description"
                        (input)="checkDescriptionLength()"
                        required
                      ></textarea>
                      <div *ngIf="showNameError3" class="error-message">
                        Mô tả không được nhập quá 500 ký tự.
                      </div>
                    </div>
                  </div>
                  <div class="row mb-12">
                    <label for="inputHide" class="col-sm-12 col-form-label"
                      >Hiển thị</label
                    >
                    <div class="col-sm-12">
                      <!-- Trong template của bạn -->
                      <p-inputSwitch
                        [style]="{ height: '20px' }"
                        [(ngModel)]="checked"
                        (onChange)="onchangeforswitch()"
                        name="switchControl"
                      ></p-inputSwitch>
                    </div>
                  </div>
                  <div class="row mb-12">
                    <div class="col-sm-12 buttonsl">
                      <button
                        pButton
                        pRipple
                        label="Đóng"
                        class="p-button-success buttoncloses"
                        type="button"
                        (click)="closeDialog(categoryForm)"
                      ></button>
                      <button
                        pButton
                        pRipple
                        label="Lưu"
                        class="p-button-success butttonsave"
                        type="submit"
                      ></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

