<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Danh mục sản phẩm</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    label="Thêm danh mục"
                    (click)="openCreateModal()"
                ></button>
            </ng-template>
        </p-toolbar>
        <div class="card">
            <p-table
                #dt
                [value]="categories"
                responsiveLayout="scroll"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <!-- [(selection)]="selectedProducts" -->
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column gap-3 align-items-end md:flex-row md:"
                    >
                        <div class="flex flex-column">
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="text"
                                    placeholder="Tìm kiếm theo tên/SKU sản phẩm"
                                    style="width: 350px"
                                    class="sm:"
                                />
                                <!-- [(ngModel)]="
                                        this.optionsFillerProduct.KeyWord
                                    " -->
                            </span>
                        </div>
                        <button pButton pRipple label="Lọc"></button>
                        <!-- (click)="EvenFilter()" -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Mã</th>
                        <th>Tên danh mục</th>
                        <th>Trực thuộc</th>
                        <th>Cấp</th>
                        <th>Người tạo</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="category"
                            ></p-tableCheckbox>
                        </td>
                        <td style="width: 5%; min-width: 10rem">
                            <span class="p-column-title">Id</span>
                            {{ category.id }}
                        </td>
                        <td style="width: 23%; min-width: 10rem">
                            <span class="p-column-title">Name</span>
                            {{ category.name }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">ParentName</span>
                            {{ category.parentName }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Level</span>
                            {{ category.level }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">CreateName</span>
                            <!-- {{ product.category }} -->
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Status</span>
                            {{ category.status }}
                        </td>

                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<app-add-product-category
    #createModal
    (categoryCreated)="onCategoryCreated($event)"
></app-add-product-category>
<app-edit-product-category
    #editModal
    (categoryUpdated)="onCategoryUpdated($event)"
></app-edit-product-category>
<!-- </div> -->
