<main id="main" class="main">
    <div class="pagetitle">
        <div>
          <h3>Quản lý tài khoản</h3>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
              <li class="breadcrumb-item">Quản lý</li>
              <li class="breadcrumb-item active">Quản lý tài khoản</li>
            </ol>
          </nav>
        </div>
    
        <div class="btn-add-wrapper">
          <button
          pButton
          pRipple
          label="Thêm mới"
          style="height: 40px; width: 130px; border-radius: 10px;"
          (click)="openDialog()"
        ></button>
        </div>
    </div>
    <div class="toast-container">
        <p-messages
          [(value)]="messages"
          [enableService]="false"
          [closable]="false"
        ></p-messages>
    </div>

    <section class="section k-list-table">
        <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-3 mt-3">
                    <span class="p-input-icon-left" style="width: 100%">
                      <i class="pi pi-search"></i>
                      <input
                        type="text"
                        class="form-control"
                        (input)="onInput($event)"
                        placeholder="Tìm kiếm theo tên, mã nhân viên"
                        style="padding-left: 30px; height: 38px"
                        [(ngModel)]="selectedName"
                        #searchInput
                      />
                    </span>
                  </div>
                  <div class="col-lg-3 mt-3">
                    <span class="p-input-icon-left" style="width: 100%">
                      <i class="pi pi-search"></i>
                      <input
                        type="text"
                        class="form-control"
                        (input)="onInput($event)"
                        placeholder="Tìm kiếm theo SĐT"
                        style="padding-left: 30px; height: 38px"
                        [(ngModel)]="selectedPhoneNumber"
                        #searchInput
                      />
                    </span>
                  </div>
                  <div class="col-lg-3 mt-3">
                    <span class="p-input-icon-left" style="width: 100%">
                      <i class="pi pi-search"></i>
                      <input
                        type="text"
                        class="form-control"
                        (input)="onInput($event)"
                        placeholder="Tìm kiếm theo địa chỉ"
                        style="padding-left: 30px; height: 38px"
                        [(ngModel)]="selectedAddress"
                        #searchInput
                      />
                    </span>
                  </div>
                  <div class="col-lg-3 mt-3">
                    <button
                      pButton
                      pRipple
                      label="Lọc"
                      class="buttonfilter"
                      (click)="clickButtonFilter()"
                    ></button>
                  </div>
                </div>
                <div style="margin-top: 15px" class="card">
                  <p-table
                    [value]="users"
                    [rows]="this.PageSize"
                    [totalRecords]="totalRecords"
                    [paginator]="false"
                    (onPage)="onPageChange($event)"
                    [style]="{ width: '100%' }"
                    styleClass="p-datatable-striped"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 1%; font-size: 14px;">STT</th>
                        <th style="width: 8%; font-size: 14px;">Tên tài khoản</th>
                        <th style="width: 6%; font-size: 14px;">SĐT</th>
                        <th style="width: 6%; font-size: 14px;">Địa chỉ</th>
                        <th style="width: 8%; font-size: 14px; text-align: center;">Chi nhánh</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user let-i="rowIndex">
                      <tr class="custom-table">
                        <td style="font-size: 14px;" (click)="openDialog2(user.id)">
                          {{((this.pageNumber - 1) * this.pageSize) + (i + 1)}}</td>
                        <td style="font-size: 14px;" (click)="openDialog2(user.id)">{{ user.name }}</td>
                        <td style="font-size: 14px; max-width: 110px; overflow: hidden;" (click)="openDialog2(user.id)">{{ user.phoneNumber }}</td>
                        <td style="font-size: 14px;" (click)="openDialog2(user.id)">{{ user.address }}</td>
                        <td style="font-size: 14px;" (click)="openDialog2(user.id)">{{ user.branchName }}</td>
                    </tr>
                    </ng-template>
                  </p-table>
                  <div class="paging-bot dg-fix">
                    <div class="paging-info">
                      <div [innerHTML]="currentPageReport"></div>
                    </div>
                    <p-paginator
                            [rows]="this.PageSize"
                            (onPageChange)="onPageChange($event)"
                            [totalRecords]="totalRecords > 0 ? totalRecords : 1"
                            [rowsPerPageOptions]="[10, 20, 30]"
                            [first]="
                              (this.PageIndex - 1) *
                              this.PageSize
                            "
                          ></p-paginator>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="dialog-background" *ngIf="showDialog">
          <div class="dialog-container-customer">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 style="font-weight: 600; font-size: 17px;" class="card-title">Thông tin cơ bản</h5>
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" [style]="{'border-radius': '25%'}" (click)="closeDialog()"></p-button>
              </div>
              <!-- General Form Elements -->
              <form [formGroup]="RoleGroupForm" (ngSubmit)="onSubmit()">
                <div class="row mb-12">
                  <div style="margin-bottom: 20px;" class="col-lg-6">
                      <label class="labelip">Nhóm quyền<span class="red-asterisk">*</span></label>
                      <p-multiSelect
                        [style]="{ height: '40px', width: '100%' }"
                        [options]="Roles"
                        optionLabel="name"
                        [showClear]="true"
                        placeholder="Chọn nhóm quyền"
                        [filter]="true"
                        formControlName="roles"
                      ></p-multiSelect>           
                  </div>
                  <div style="margin-bottom: 20px;" class="col-lg-6">
                      <label class="labelip">Chi nhánh<span class="red-asterisk">*</span></label>
                      <p-dropdown
                        [style]="{ height: '40px', width: '100%' }"
                        [options]="branch"
                        optionLabel="name"
                        [showClear]="true"
                        placeholder="Chọn chi nhánh"
                        optionValue="id"
                        formControlName="branchId"
                      ></p-dropdown>               
                  </div>
                  <div style="margin-bottom: 20px;" class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-6">
                        <label class="labelip"
                        >Tài khoản<span class="red-asterisk">*</span></label>
                          <input
                          type="text"
                          class="form-control"
                          pInputText
                          [style]="{ height: '35px', width: '100%' }"
                          formControlName="email"
                          placeholder="Nhập tài khoản"
                          (input)="onInputChange($event)"
                          />
                      </div>
                      <div class="col-lg-6">
                        <label class="labelip"
                        >Mật khẩu<span class="red-asterisk">*</span></label>
                      <input
                        type="text"
                        class="form-control"
                        pInputText
                        [style]="{ height: '35px', width: '100%' }"
                        formControlName="password"
                        placeholder="Nhập mật khẩu"
                        maxlength="100"
                        (input)="onInputChange($event)"
                      />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                          <label class="labelip"
                            >Số điện thoại</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            pInputText
                            [style]="{ height: '35px', width: '100%' }"
                            (keypress)="onKeyPress($event)"
                            formControlName="phoneNumber"
                            placeholder="Nhập số điện thoại"
                          />
                          <div *ngIf="showNameError4" class="error-message">
                            Số điện thoại không được trùng nhau
                          </div>
                          <div
                            *ngIf="
                              (RoleGroupForm.get('phoneNumber')?.invalid &&
                                (RoleGroupForm.get('phoneNumber')?.dirty ||
                                  RoleGroupForm.get('phoneNumber')?.touched)) ||
                              showNameError5
                            "
                          >
                            <div
                              *ngIf="RoleGroupForm.get('phoneNumber')?.errors?.['pattern']"
                              class="error-message"
                            >
                              Số điện thoại phải bắt đầu bằng 03, 05, 07, 08, hoặc 09 và có
                              10 chữ số.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <label class="labelip">Tỉnh/Thành</label>
                          <p-dropdown
                            [options]="cities"
                            [style]="{ height: '35px', width: '100%' }"
                            optionLabel="name"
                            [showClear]="true"
                            placeholder="Chọn Tỉnh/Thành"
                            optionValue="id"
                            (onChange)="onCityChange($event.value)"
                            (onClear)="onClearCity()"
                          ></p-dropdown>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-6 mt-3">
                        <label class="labelip">Quận/Huyện</label>
                        <p-dropdown
                          [options]="districts"
                          [style]="{ height: '35px', width: '100%' }"
                          optionLabel="name"
                          [showClear]="true"
                          placeholder="Chọn Quận/Huyện"
                          optionValue="id"
                          (onChange)="onDistrictChange($event.value)"
                          (onClear)="onClearDistrict()"
                          [emptyMessage]="'Vui lòng chọn tỉnh trước!'"
                          formControlName="districtId"
                        ></p-dropdown>
                      </div>
                      <div class="col-lg-6 mt-3">
                        <label class="labelip">Xã/Phường</label>
                        <p-dropdown
                          [options]="wards"
                          [style]="{ height: '35px', width: '100%' }"
                          optionLabel="name"
                          [showClear]="true"
                          placeholder="Chọn Xã/Phường"
                          optionValue="id"
                          (onChange)="onWardChange($event.value)"
                          (onClear)="onClearWard()"
                          formControlName="wardId"
                          [emptyMessage]="'Vui lòng chọn tỉnh/huyện trước!'"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-12 mt-5">
                  <div class="col-sm-12 buttonsl">
                      <button pButton pRipple label="Hủy" class="p-button-success buttoncloses" type="button" (click)="closeDialog()"></button>
                      <button pButton pRipple label="Lưu" class="p-button-success butttonsave" type="submit"></button>
                  </div>
                </div>
              </form><!-- End General Form Elements -->
            </div>
          </div>
        </div>
    </section>


</main>
