<form [formGroup]="productForm" (ngSubmit)="checkAndOnSubmit()">
    <div class="grid">
        <div class="col-12">
            <p-toolbar styleClass="mb-2">
                <div class>
                    <h3>Thêm mới sản phẩm</h3>
                    <p-breadcrumb
                        [model]="items">
                    </p-breadcrumb>
                </div>
                <div class="toast-container">
                  <p-messages
                    [(value)]="messages"
                    [enableService]="false"
                    [closable]="false"
                  ></p-messages>
                </div>
            </p-toolbar>
            <div class="grid p-fluid">
                <div class="col-12 md:col-12">
                    <div class="box">
                        <div class="border-manager">
                            <span>HÌNH THỨC QUẢN LÝ</span>
                        </div>
                        <div class="processing">
                            <div class="processing-checkbox">
                              <input type="radio" id="sanphamthuong" formControlName="productType" [value]="0" />
                              <label style="padding-left: 10px;" for="sanphamthuong">Sản phẩm thường</label>
                            </div>
                            <div style="margin-left: 100px;" class="processing-checkbox">
                              <input type="radio" id="sanphamserial" formControlName="productType" [value]="1" />
                              <label style="padding-left: 10px;" for="sanphamserial">Sản phẩm Serial/iMei</label>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="border-manager">
                            <span>THÔNG TIN SẢN PHẨM</span>
                            <div style="margin-top: -27px;" class="horizontal-row">
                              <p-inputSwitch
                                name="switchControl"
                                [style]="{ height: '20px', 'margin-top': '7px' }"
                                formControlName="status"
                              ></p-inputSwitch>
                              <span style="margin-left: 10px">Cho phép bán</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="labelip">Thương hiệu </label>
                                        <p-dropdown
                                          formControlName="brandId"
                                          [options]="brands"
                                          [style]="{ height: '43px', width: '100%' }"
                                          optionLabel="name"
                                          [showClear]="true"
                                          placeholder="Chọn thương hiệu"
                                          optionValue="id"
                                        ></p-dropdown>
                                        <!-- <div *ngIf="productForm.get('brandId')?.invalid && (productForm.get('brandId')?.dirty || productForm.get('brandId')?.touched) || showNameError3">
                                          <div *ngIf="productForm.get('brandId')?.errors?.['required']" class="error-message">
                                            Thương hiệu không được bỏ trống
                                          </div>
                                        </div> -->
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="labelip">Danh mục sản phẩm <span
                                            class="red-asterisk">*</span></label>
                                            <p-treeSelect
                                            containerStyleClass="w-full"
                                            [options]="categorieandchild"
                                            optionValue="selectedCategory"
                                            formControlName="categoryId"
                                            optionLabel="label"
                                            [showClear]="true"
                                            placeholder="Chọn danh mục sản phẩm"
                                            [style]="{ width: '100%' }"
                                            (onNodeSelect)="onNodeSelect($event)"
                                            (onNodeUnselect)="onNodeUnselect($event)"
                                            (onFocus)="onTreeSelectFocus()"
                                          >
                                            <ng-template let-node pTemplate="default">
                                              <span>{{ node.label }}</span>
                                            </ng-template>
                                          </p-treeSelect>
                                          <div
                                          *ngIf="
                                            (productForm.get('categoryId')?.invalid &&
                                              (productForm.get('categoryId')?.dirty ||
                                                productForm.get('categoryId')?.touched)) ||
                                            showNameError4
                                          "
                                        >
                                          <div
                                            *ngIf="productForm.get('categoryId')?.errors?.['required']"
                                            class="error-message"
                                          >
                                            Danh mục không được bỏ trống
                                          </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="labelip">SKU </label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            pInputText
                                            [style]="{ height: '40px', width: '100%' }"
                                            formControlName="sku"
                                            placeholder="Nhập thông tin"
                                            maxlength="100"
                                            (input)="onInput2($event)"
                                            />
                                            <div *ngIf="showNameError14" class="error-message">
                                              {{ errorMessage2 }}
                                            </div> 
                                    </div>             
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="labelip">Tên sản phẩm <span
                                            class="red-asterisk">*</span></label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                pInputText
                                                [style]="{ height: '40px', width: '100%' }"
                                                formControlName="name"
                                                placeholder="Nhập tên sản phẩm"
                                                maxlength="100"
                                            />
                                            <div
                                            *ngIf="
                                              (productForm.get('name')?.invalid &&
                                                (productForm.get('name')?.dirty ||
                                                  productForm.get('name')?.touched)) ||
                                              showNameError2 ||
                                              showNameError11
                                            "
                                          >
                                            <div
                                              *ngIf="productForm.get('name')?.errors?.['required']"
                                              class="error-message"
                                            >
                                              Tên sản phẩm không được để trống
                                            </div>
                                            <div
                                              *ngIf="productForm.get('name')?.errors?.['invalidName'] && !productForm.get('name')?.errors?.['required']"
                                              class="error-message"
                                            >
                                              Tên không được chứa toàn ký tự trắng
                                            </div>
                                            
                                          </div> 
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="labelip">Mã vạch </label>
                                        <input
                                        type="text"
                                        class="form-control"
                                        pInputText
                                        [style]="{ height: '40px', width: '100%' }"
                                        formControlName="barcode"
                                        placeholder="Nhập mã vạch"
                                        maxlength="100"
                                        (input)="onInput1($event)"
                                        (keypress)="onKeyPress($event)"
                                        />
                                        <div *ngIf="showNameError12" class="error-message">
                                          {{ errorMessage }}
                                        </div> 
                                    </div>
                                    <div class="col-lg-4">
                                      <label class="labelip">Khối lượng</label>
                                      <div class="input-group">
                                        <input
                                          type="text"
                                          class="form-control"
                                          pInputText
                                          [style]="{ height: '40px', width: '70%' }"
                                          formControlName="mass"
                                          placeholder="Nhập khối lượng"
                                          min="0.01"
                                          step="0.01"
                                          (keypress)="onKeyPress($event)"
                                        />
                                        <div class="input-group-append">
                                          <select
                                            class="form-control"
                                            formControlName="unit"
                                            [style]="{ height: '40px' }">
                                            <option value="kg" selected>kg</option>
                                            <option value="g">g</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>                                     
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="labelip">Đơn vị</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                pInputText
                                                [style]="{ height: '40px', width: '100%' }"
                                                formControlName="unitName"
                                                placeholder="Nhập đơn vị"
                                                maxlength="100"
                                            /> 
                                    </div>
                                    <div class="col-lg-4" *ngIf="!formattedSellingPrice || isEditMode">
                                      <label class="labelip">Giá bán </label>
                                      <input
                                          type="text"
                                          class="form-control"
                                          pInputText
                                          [style]="{ height: '40px', width: '100%' }"
                                          formControlName="sellingPrice"
                                          placeholder="Nhập giá bán"
                                          maxlength="100"
                                          (keypress)="onKeyPressPrice($event)"
                                          (blur)="convertToCurrency()"
                                      />
                                    </div>
                                  
                                    <div class="col-lg-4" *ngIf="formattedSellingPrice && !isEditMode">
                                        <label class="labelip">Giá bán</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            [style]="{ height: '40px', width: '100%' }"
                                            [value]="formattedSellingPrice"
                                            readonly
                                            (click)="toggleEditMode()"
                                        />
                                    </div>
                                    
                                    <div class="col-lg-4"  *ngIf="!formattedImPrice || isEditMode2">
                                        <label class="labelip">Giá nhập</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            pInputText
                                            [style]="{ height: '40px', width: '100%' }"
                                            formControlName="importPrice"
                                            placeholder="Nhập giá nhập"
                                            maxlength="100"
                                            (keypress)="onKeyPress($event)"
                                            (blur)="convertToCurrency2()"
                                        />                                      
                                    </div> 
                                    <div  class="col-lg-4" *ngIf="formattedImPrice && !isEditMode2">
                                      <label class="labelip">Giá nhập</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            [style]="{ height: '40px', width: '100%' }"
                                            [value]="formattedImPrice"
                                            readonly
                                            (click)="toggleEditMode2()"
                                        />
                                    </div>            
                                </div>
                            </div>                     
                            <div class="col-lg-12"  *ngIf="productForm.get('productType').value === 0">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="labelip">Kho hàng</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                pInputText
                                                [style]="{ height: '40px', width: '100%' }"
                                                formControlName="totalQuantity"
                                                placeholder="Nhập kho hàng"
                                                maxlength="100"
                                                (keypress)="onKeyPressQuantity($event)"
                                            /> 
                                    </div>      
                                </div>
                            </div>
                            <div class="col-lg-12">
                              <label style="color: rgb(139, 127, 248); cursor: pointer;" class="labelip" (click)="toggleDescriptionEditor()">
                                {{ showDescriptionEditor ? 'Ẩn mô tả sản phẩm' : 'Hiển thị mô tả sản phẩm' }}
                              </label>                          
                              <p-editor *ngIf="showDescriptionEditor" formControlName="description" [style]="{ height: '320px' }"></p-editor>  
                            </div>                      
                            <div class="col-lg-12">
                                <div class="product-content">
                                  <label class="labelip">Ảnh sản phẩm</label>
                                  <div class="image-container">
                                    <div
                                      style="margin-left: 15px"
                                      *ngFor="let image of base64_FileIamges; let i = index"
                                      class="image-product"
                                    >
                                      <img [src]="image.preview" width="100" height="50" />
                                      <i
                                        style="margin-top: 10px"
                                        class="pi pi-trash"
                                        (click)="removeImage(i)"
                                      ></i>
                                    </div>
                                    <div class="img-ch">
                                      <label for="fileInput" class="preview">
                                        <i class="pi pi-plus"></i>
                                        <span
                                          >Tải ảnh {{ base64_FileIamges.length }}/{{
                                            maxImages
                                          }}</span
                                        >
                                      </label>
                                      <input
                                        type="file"
                                        #imageInput
                                        id="fileInput"
                                        (change)="onImageSelected($event)"
                                        accept="image/*"
                                        [disabled]="base64_FileIamges.length >= maxImages"
                                        style="display: none"
                                        multiple
                                      />
                                    </div>
                                    <div class="flex-wrap">
                                        <p>Định dạng JPG/PNG/JPEG</p>
                                        <span>Dung lượng: 3MB</span>
                                    </div>
                                  </div>
                                </div>
                                <!-- <div *ngIf="showNameError" class="error-message">
                                  Hình ảnh đã bị thiếu, hãy chắc chắn rằng sản phẩm này có ít nhất một hình ảnh.
                                </div> -->
                            </div>
                            <div class="col-lg-12 mt-5">
                              <div style="display: flex">
                                <p-inputSwitch formControlName="warning" (onChange)="onWarrantySwitchChange($event)"></p-inputSwitch>
                                <label style="padding: 3px 10px" class="labelip">Áp dụng bảo hành</label>
                              </div>
                            
                              <!-- Dropdown for Warranty Policies, visible only when switch is enabled -->
                              <p-dropdown 
                                *ngIf="isWarrantyApplied" 
                                [options]="warrantyOptions" 
                                optionLabel="shortenedName" 
                                formControlName="warrantyPolicyId"
                                [style]="{ height: '40px', width: '30%' }"
                                optionValue="id"
                                [showClear]="true"
                                placeholder="Chọn chính sách bảo hành">
                              </p-dropdown>
                              <div *ngIf="showWarrantyError" class="error-message">
                                Hãy chọn chính sách bảo hành
                              </div>
                            </div>         
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="border-manager">
                            <span>PHÂN LOẠI HÀNG</span>
                        </div>
                        <div class="card-body col-lg-12 mt-3" *ngIf="buttonVariants">
                            <div class="row">
                              <div class="col-lg-2">
                                <p-button
                                  label="Thêm phân loại 1"
                                  icon="pi pi-plus"
                                  [style]="{
                                    'background-color': 'white',
                                    color: '#2A2A86',
                                    height: '40px',
                                    'border-radius': '5px',
                                    'border-color': '#2A2A86'
                                  }"
                                  (click)="openAddVariants()"
                                ></p-button>
                              </div>                             
                            </div>
                        </div>                      
                        <div class="card-body-1" *ngIf="addVariants">
                            <div class="col-lg-12 mt-3">
                                <i style="float: right; color: red; cursor: pointer;" class="pi pi-times" (click)="closeAddVariants()"></i>
                                <div class="col-lg-6 mt-3 mb-2">
                                  <input
                                    type="text"
                                    class="form-control"
                                    pInputText
                                    formControlName="propeties1"
                                    [style]="{ height: '35px', width: '58%' }" (input)="updateProperties1Header()"
                                    />
                                    
                                </div>
                                <div class="row">
                                  <div>
                                    <div formArrayName="valuePropeties1" class="input-container">
                                      <div *ngFor="let control of valueProperties1Array.controls; let i = index" class="input-group">
                                        <div class="image-container2">
                                          <img class="imageupload" src="/assets/img/imageupload.png" (click)="!imageSelected[i] && fileInput.click()" [style.display]="imageSelected[i] ? 'none' : 'inline'"/>
                                          <input type="file" #fileInput id="fileInput{{i}}" style="display: none" (change)="handleFileInput($event, i)"/>
                                          <img *ngIf="getBase64Image(i)" [src]="'data:image/png;base64,' + getBase64Image(i)" alt="Image" width="50" height="50">
                                          <div class="image-main" *ngIf="getBase64Image(i)">
                                            <div class="image-container1">
                                              <div class="image-edit">
                                                <img [src]="'data:image/png;base64,' + getBase64Image(i)" alt="Image" width="150" height="150">
                                              </div>
                                              <div class="image-actions">
                                                <button class="action-button">
                                                  <i class="pi pi-bars"></i>
                                                </button>
                                                |
                                                <button class="action-button">
                                                  <i class="pi pi-trash" (click)="removeImageVariant(i)"></i>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <input type="text" class="form-control" pInputText [formControlName]="i" [style]="{
                                          height: '35px',
                                          width: '60%',
                                          'margin-left': '5px'
                                        }" required>
            
                                        <!-- <i style="margin-left: 5px;" class="pi pi-arrows-alt"></i> -->
                                        <i style="margin-left: 5px;" class="pi pi-trash" (click)="removeProperty1(i)"></i>
                                      </div>
                                      <button type="button" pButton icon="pi pi-plus" [style]="{
                                        width: '13%'
                                      }" (click)="addProperty1()" class="p-button-rounded p-button-secondary p-button-text">Thêm giá trị</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body col-lg-12 mt-3" *ngIf="buttonVariants2">
                            <div class="row">
                              <div class="col-lg-2">
                                <p-button
                                  label="Thêm phân loại 2"
                                  icon="pi pi-plus"
                                  [style]="{
                                    'background-color': 'white',
                                    color: '#2A2A86',
                                    height: '40px',
                                    'border-radius': '5px',
                                    'border-color': '#2A2A86'
                                  }"
                                  (click)="openAddVariants2()"
                                ></p-button>
                              </div>
                             
                            </div>
                        </div>
                        <div class="card-body-1" *ngIf="addVariants2">
                            <div class="col-lg-12 mt-3">
                                <i style="float: right; color: red; cursor: pointer;" class="pi pi-times" (click)="closeAddVariants2()"></i>
                                <div class="col-lg-6 mt-3 mb-2">
                                    <input
                                        type="text"
                                        class="form-control"
                                        pInputText
                                        formControlName="propeties2"
                                        [style]="{ height: '35px', width: '58%' }"
                                        (input)="updateProperties2Header()"
                                    />
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <div class="row">
                                        <div>
                                            <div formArrayName="valuePropeties2" class="input-container">
                                                <div *ngFor="let control of valueProperties2Array.controls; let i = index" class="input-group">
                                                <input type="text" class="form-control" pInputText [formControlName]="i" [style]="{
                                                    height: '35px',
                                                    width: '75%',
                                                    'margin-left': '5px'
                                                }" required>
                                                <i style="margin-left: 5px;" class="pi pi-trash" (click)="removeProperty2(i)"></i>
                                                </div>
                                                <button type="button" pButton icon="pi pi-plus" [style]="{
                                                    width: '13%'
                                                }"  (click)="addProperty2()" class="p-button-rounded p-button-secondary p-button-text">Thêm giá trị</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 20px;" class="card-body-1" *ngIf="addVariants">
                            <div class="col-lg-12 mt-2">
                                <label class="labelip" 
                                  >Danh sách phân loại hàng</label
                                >
                                <div class="col-lg-12 mt-5" *ngIf="addVariants">
                                  <!-- <div *ngIf="showNameError8" class="error-message">
                                      Tất cả giá của biến thể >= 0
                                    </div> -->
                                  <div>
                                    <div class="table-products">
                                      <p-table
                                        [value]="valueProperties1Array.controls"
                                        [rows]="10"
                                      >
                                        <ng-template pTemplate="header">
                                          <tr>
                                            <th style="width: 5%">STT</th>
                                            <th style="width: 30%">Tên phân loại</th>
                                            <th style="width: 20%">SKU phân loại</th>
                                            <th style="width: 10%">Mã vạch/Mã Barcode</th>
                                            <th style="width: 10%">Giá bán</th>
                                            <th  *ngIf="productForm.get('productType').value === 0">Tồn kho</th>
                                          </tr>
                                        </ng-template>
                                        <ng-template
                                          pTemplate="body"
                                          let-row
                                          let-i="rowIndex"
                                        >                       
                                          <tr *ngFor="let value2 of valueProperties2Array.controls; let j = index">
                                            <td>1</td>
                                            <td>
                                                <div style="display: flex;">
                                                    <img
                                                    *ngIf="getBase64Image(i); else defaultImage"
                                                    [src]="'data:image/png;base64,' + getBase64Image(i)"
                                                    alt="Image"
                                                    width="50"
                                                    height="50"
                                                  />
                                                  <ng-template #defaultImage>
                                                    <img
                                                      style="margin-top: 10px;"
                                                      class="imageupload"
                                                      src="/assets/img/imageupload.png"
                                                      alt="Default Image"
                                                      width="50"
                                                      height="50"
                                                    />
                                                  </ng-template>
                                                  <div style="text-align: center; padding: 15px 20px;">
                                                    {{ productForm.get('name').value }} - {{ row.value }} - {{ value2.value }}
                                                  </div>
                                                </div>  
                                            </td>
                                            <td>
                                                <input
                                                  class="form-control"
                                                  type="text"
                                                  [formControlName]="getSkuControlName(i, j)"
                                                  [style]="{ height: '35px', width: '200px' }"
                                                  (input)="onInput3($event); onSkuInput($event, i, j)"
                                                />
                                                <div *ngIf="duplicateSkuError" class="text-danger">
                                                  {{ errorMessageSku }}
                                                </div>
                                            </td>
                                            <td>
                                              <input
                                                class="form-control"
                                                type="text"
                                                [formControlName]="getBarcodeControlName(i, j)"
                                                (keypress)="onKeyPress($event)"
                                                (input)="onInput2($event); onBarcodeInput($event, i, j)"
                                                [style]="{ height: '35px', width: '200px' }"
                                              />
                                              <div *ngIf="duplicateBarcodeError" class="text-danger">
                                                {{ errorMessageCheck }}
                                              </div>
                                              
                                            </td>
                                            <td *ngIf="!formattedPrices[i][j] || isEditMode3[i][j]">
                                              <input
                                                class="form-control"
                                                type="text"
                                                [formControlName]="getPriceControlName(i, j)"
                                                (keypress)="onKeyPress($event)"
                                                [style]="{ height: '35px', width: '200px' }"
                                                (blur)="convertPriceToCurrency(i, j)"
                                              />
                                              <div
                                                *ngIf="getPriceControlError(i, j)"
                                                class="text-danger"
                                              >
                                                {{ getPriceControlError(i, j) }}
                                              </div>
                                            </td>
                                            <td *ngIf="formattedPrices[i][j] && !isEditMode3[i][j]">
                                              <input
                                                  class="form-control"
                                                  type="text"
                                                  [value]="formattedPrices[i][j]"
                                                  readonly
                                                  [style]="{ height: '35px', width: '200px' }"
                                                  (click)="toggleEditMode3(i, j)"
                                              />
                                            </td>
                                            <td  *ngIf="productForm.get('productType').value === 0">
                                              <input
                                                class="form-control"
                                                type="text"
                                                [formControlName]="getWareControlName(i, j)"
                                                (keypress)="onKeyPress($event)"
                                                [style]="{ height: '35px', width: '200px' }"
                                              />
                                            </td>
                                          </tr>
                                        </ng-template>
                                      </p-table>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 flex justify-content-end gap-3">
            <button
                pButton
                pRipple
                type="button"
                label="Hủy"
                class="p-button-outlined"
                (click)="openDialog3()">
              </button>
            <button
                type="submit"
                pButton
                label="Thêm mới"
                class="p-button-primary"></button>
        </div>

        <div class="dialog-background" *ngIf="showDialog3">
          <div class="dialog-container-customerdelete">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">Xác nhận</h5>
                <p-button
                  icon="pi pi-times"
                  [rounded]="true"
                  [text]="true"
                  severity="danger"
                  [style]="{ 'border-radius': '25%' }"
                  (click)="closeDialog3()"
                ></p-button>
              </div>
              <!-- General Form Elements -->
              <form>
                <div class="row mb-12">
                  <label
                    >Dữ liệu sẽ không được lưu lại, bạn có chắc muốn thoát?</label
                  >
                </div>
                <div class="row mb-12 mt-5">
                  <div class="col-sm-12 buttonsl">
                    <button
                      pButton
                      pRipple
                      label="Hủy"
                      class="p-button-success buttoncloses"
                      type="button"
                      (click)="closeDialog3()"
                    ></button>
                    <button
                      pButton
                      pRipple
                      label="Đồng ý"
                      class="p-button-success buttondelete"
                      type="button"
                      [routerLink]="['/products/show-product']"
                    ></button>
                  </div>
                </div>
              </form>
              <!-- End General Form Elements -->
            </div>
          </div>
        </div>
    </div>
</form>
