.permissions-tree .ui-treenode-connector {
    display: none;
  }
  .permission-tree {
    list-style-type: none; /* Xóa dấu bullet */
  }
  
  .permission-item {
    cursor: pointer;
  }
  
  .permission-item ul {
    margin-left: 20px;
  }
  
  .expanded::before {
    content: "▼"; /* Biểu tượng mở */
    padding-right: 5px;
  }
  
  .collapsed::before {
    content: "▶"; /* Biểu tượng đóng */
    padding-right: 5px;
  }
  

  .container-update-role{
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }