<p-toast />
<form [formGroup]="updateWarrantyPolicyForm" (ngSubmit)="onSubmit()">
    <p-dialog
        [(visible)]="displayModal"
        modal="true"
        [closable]="false"
        [draggable]="false"
        [resizable]="false"
        [style]="{ width: '50vw' }"
    >
        <!-- Header -->
        <ng-template pTemplate="header">
            <h4>Sửa chính sách bảo hành</h4>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="content">
            <div class="grid p-fluid">
                <input
                    pInputText
                    id="name1"
                    type="hidden"
                    spellcheck="false"
                    placeholder="Nhập tên chính sách bảo hành"
                    formControlName="id"
                />
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label
                            htmlFor="name1"
                            style="font-weight: 600; color: #000"
                            >Tên chính sách bảo hành<span class="red-asterisk"
                                >*</span
                            ></label
                        >
                        <input
                            pInputText
                            id="name1"
                            type="text"
                            spellcheck="false"
                            placeholder="Nhập tên chính sách bảo hành"
                            formControlName="name"
                        />
                        <div
                            *ngIf="
                                updateWarrantyPolicyForm.get('name')?.invalid &&
                                (updateWarrantyPolicyForm.get('name')?.dirty ||
                                    updateWarrantyPolicyForm.get('name')
                                        ?.touched)
                            "
                        >
                            <div
                                *ngIf="updateWarrantyPolicyForm.get('name')?.errors?.['required']"
                                class="error-message"
                            >
                                Vui lòng nhập tên chính sách bảo hành
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label
                            htmlFor="name1"
                            style="font-weight: 600; color: #000"
                            >Kỳ hạn bảo hành<span class="red-asterisk"
                                >*</span
                            ></label
                        >
                        <div class="flex">
                            <p-inputNumber
                                inputId="term"
                                formControlName="term"
                            />
                            <p-dropdown
                                [options]="this.optionsTime"
                                optionLabel="name"
                                formControlName="termType"
                            >
                            </p-dropdown>
                        </div>
                        <div
                            *ngIf="
                                updateWarrantyPolicyForm.get('warranty_period')
                                    ?.invalid &&
                                (updateWarrantyPolicyForm.get('warranty_period')
                                    ?.dirty ||
                                    updateWarrantyPolicyForm.get(
                                        'warranty_period'
                                    )?.touched)
                            "
                        >
                            <div
                                *ngIf="updateWarrantyPolicyForm.get('warranty_period')?.errors?.['required']"
                                class="error-message"
                            >
                                Vui lòng nhập kì hạn bảo hành
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- Footer -->
        <ng-template pTemplate="footer">
            <div class="flex gap-2 justify-content-end">
                <button
                    pButton
                    pRipple
                    type="button"
                    label="Hủy"
                    icon="pi pi-times"
                    (click)="displayModal = false"
                    class="p-button-danger"
                ></button>
                <button
                    type="submit"
                    pButton
                    label="Lưu"
                    icon="pi pi-check"
                    class="p-button-primary"
                ></button>
            </div>
        </ng-template>
    </p-dialog>
</form>
