<main id="main" class="main">
    <div class="pagetitle">
        <div>
          <h3>Quản lý tài khoản</h3>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
              <li class="breadcrumb-item">Quản lý</li>
              <li class="breadcrumb-item active">Quản lý tài khoản</li>
            </ol>
          </nav>
        </div>
    
        <div class="btn-add-wrapper">
          <button
          pButton
          pRipple
          label="Thêm mới"
          style="height: 40px; width: 130px; border-radius: 10px;"
         
        ></button>
        </div>
    </div>

    <section class="section k-list-table">
        <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div style="margin-top: 15px" class="card">
                  <p-table
                    [value]="ladigns"
                    [rows]="this.PageSize"
                    [totalRecords]="totalRecords"
                    [paginator]="false"
                    (onPage)="onPageChange($event)"
                    [style]="{ width: '100%' }"
                    styleClass="p-datatable-striped"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 1%; font-size: 14px;">STT</th>
                        <th style="width: 8%; font-size: 14px;">Tên tài khoản</th>
                        <th style="width: 6%; font-size: 14px;">SĐT</th>
                        <th style="width: 10%; font-size: 14px;">Địa chỉ</th>
                        <th style="width: 8%; font-size: 14px; text-align: center;">Chi nhánh</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user let-i="rowIndex">
                      <tr class="custom-table">
                        <td style="font-size: 14px;" (click)="openDialog2(user.id)">
                          {{((this.PageIndex - 1) * this.PageSize) + (i + 1)}}</td>
                        <td style="font-size: 14px;" (click)="openDialog2(user.id)">{{ user.name }}</td>
                        <td style="font-size: 14px; max-width: 110px; overflow: hidden;" (click)="openDialog2(user.id)">{{ user.phoneNumber }}</td>
                        <td style="font-size: 14px;" (click)="openDialog2(user.id)">{{ user.wardName}}, {{ user.districtName }}, {{ user.cityName }}</td>
                        <td style="font-size: 14px;" (click)="openDialog2(user.id)">{{ user.branchName }}</td>
                    </tr>
                    </ng-template>
                  </p-table>
                  <div class="paging-bot dg-fix">
                    <div class="paging-info">
                      <div [innerHTML]="currentPageReport"></div>
                    </div>
                    <p-paginator
                            [rows]="this.PageSize"
                            (onPageChange)="onPageChange($event)"
                            [totalRecords]="totalRecords > 0 ? totalRecords : 1"
                            [rowsPerPageOptions]="[10, 20, 30]"
                            [first]="
                              (this.PageIndex - 1) *
                              this.PageSize
                            "
                          ></p-paginator>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>


</main>
