<main id="main" class="main">
    <div class="pagetitle">
        <div>
          <h3>Quản lý tài khoản</h3>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
              <li class="breadcrumb-item">Quản lý</li>
              <li class="breadcrumb-item active">Quản lý tài khoản</li>
            </ol>
          </nav>
        </div>
    
        <div class="btn-add-wrapper">
          <button
          pButton
          pRipple
          label="Thêm mới"
          style="height: 40px; width: 130px; border-radius: 10px;"
          [routerLink]="['/pages/merchandise/branch-transfer/create']"
        ></button>
        </div>
    </div>

    <section class="section k-list-table">
        <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                <div style="margin-top: 15px" class="card">
                  <p-table
                    [value]="ladigns"
                    [rows]="this.PageSize"
                    [totalRecords]="totalRecords"
                    [paginator]="false"
                    (onPage)="onPageChange($event)"
                    [style]="{ width: '100%' }"
                    styleClass="p-datatable-striped"
                  >
                    <ng-template pTemplate="caption">
                        <div
                            class="flex flex-column gap-3 align-items-end md:flex-row md:"
                        >
                            <div class="flex flex-column">
                                <label
                                    for="email1"
                                    class="block text-900 text-large font-weight mb-2"
                                    >Tìm kiếm mã chuyển hàng:</label
                                >
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        placeholder="Tìm theo mã chuyển hàng"
                                        style="width: 350px"
                                        class="sm:"
                                    />
                                    <!-- [(ngModel)]="
                                            this.optionsFillerProduct.KeyWord
                                        " -->
                                </span>
                            </div>
                            <div class="flex flex-column">
                                <label
                                    for="email1"
                                    class="block text-900 text-large font-weight mb-2"
                                    >Chọn chi nhánh:</label
                                >
                                <p-dropdown
                                    [options]="this.optionsStatus"
                                    [(ngModel)]="this.statusFilter"
                                    optionLabel="name"
                                    [showClear]="true"
                                    placeholder="Chọn chi nhánh"
                                >
                                </p-dropdown>
                            </div>
                            <div class="flex flex-column">
                                <label
                                    for="email1"
                                    class="block text-900 text-large font-weight mb-2"
                                    >Trạng thái:</label
                                >
                                <p-dropdown
                                    [options]="this.optionsStatus"
                                    [(ngModel)]="this.statusFilter"
                                    optionLabel="name"
                                    [showClear]="true"
                                    placeholder="Trạng thái"
                                >
                                </p-dropdown>
                            </div>
                            <div class="flex flex-column">
                                <label
                                    for="email1"
                                    class="block text-900 text-large font-weight mb-2"
                                    >Ngày tạo:</label
                                >
                                <p-calendar
                                    [showIcon]="true"
                                    placeholder="Chọn khoẳng thời gian"
                                    inputId="icon"
                                ></p-calendar>
                            </div>
                            <button
                                pButton
                                pRipple
                                label="Lọc"
                                (click)="EvenFilter()"
                            ></button>
                            <!-- <button pButton pRipple label="Lọc"></button> -->
                            <!-- (click)="EvenFilter()" -->
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 1%; font-size: 14px;">STT</th>
                        <th style="width: 8%; font-size: 14px;">Mã chuyển hàng</th>
                        <th style="width: 12%; font-size: 14px;">Người tạo</th>
                        <th style="width: 12%; font-size: 14px;">Từ chi nhánh</th>
                        <th style="width: 12%; font-size: 14px; text-align: center;">Đến chi nhánh</th>
                        <th style="width: 6%; font-size: 14px; text-align: center;">Trạng thái</th>
                        <th style="width: 5%; font-size: 14px; text-align: center;">Số sản phẩm</th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-user let-i="rowIndex">
                      <tr class="custom-table">
                        <td style="font-size: 14px;"  [routerLink]="['/pages/merchandise/branch-receiving', user.id]">
                          {{user.id}}</td>
                        <td style="font-size: 14px;">{{ user.code }}</td>
                        <td style="font-size: 14px;">{{ user.userName }}</td>
                        <td style="font-size: 14px; max-width: 110px; overflow: hidden;">{{ user.fromBranchName }}</td>
                        <td style="font-size: 14px; max-width: 110px; overflow: hidden;">{{ user.toBranchName }}</td>
                        <td style="font-size: 14px;">{{ user.iAccepted}}</td>
                        <td style="font-size: 14px;">{{ user.totalCount }}</td>
                    </tr>
                    </ng-template>
                  </p-table>
                  <div class="paging-bot dg-fix">
                    <div class="paging-info">
                      <div [innerHTML]="currentPageReport"></div>
                    </div>
                    <p-paginator
                            [rows]="this.PageSize"
                            (onPageChange)="onPageChange($event)"
                            [totalRecords]="totalRecords > 0 ? totalRecords : 1"
                            [rowsPerPageOptions]="[10, 20, 30]"
                            [first]="
                              (this.PageIndex - 1) *
                              this.PageSize
                            "
                          ></p-paginator>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>


</main>
